[2021-03-15 16:40] AgentEnder opened #1 "Ability to run `dotnet build` via Nx"

[2021-03-15 16:40] AgentEnder opened #2 "Nx target to serve api applications"

[2021-03-15 16:45] AgentEnder opened #3 "Check if .NET SDK is installed on plugin add"
1.  During installation check if .NET Sdk is installed
    1.  Check against package.json sdk version
    2. Warn if mismatch
2. Supply link to current version

[2021-03-15 16:48] AgentEnder opened #4 "Nx schematic + target to generate interfaces"
Something like: `nx g nx-dotnet/generate-interfaces --target="[lib / app name]" --source="[lib / app name]" [--sourceNamespace="Example.CSharp.Project"]` would be perfect to keep typescript interfaces for API DTO's or entities on the front end in sync with the back end.

[2021-03-15 16:50] AgentEnder opened #5 "Nx schematic for adding nuget packages support"
Something like this, either as a schematic or target:

`nx g nx-dotnet/add-dependency <project> <nuget-package>`
`nx run <project>:add-dependency <nuget-package>`

[2021-03-15 16:55] AgentEnder opened #6 "Support single version principle for nuget packages."
## Problem:

Nuget packages are managed within .csproj files, meaning different apps/libs in the same workspace might have different versions. This goes against single version principle, which Nrwl has defended many times in the Nx repo.

[2021-03-15 16:57] AgentEnder opened #7 "e2e tests for generating + building a web API"

[2021-03-15 16:58] AgentEnder opened #8 "Support for `nx serve` on API / web apps."
This could potentially use an external dependency such as [dotnet-serve]( https://github.com/natemcmaster/dotnet-serve)

[2021-03-15 17:03] AgentEnder opened #9 "Generator for creating a new app / library"
## Use Case:

Users can run `nx g nx-dotnet/app` or `nx g nx-dotnet/lib` to generate a new dotnet cli app or class library.

## Considerations:

* Optionally pass in project template?
* Should C# libs be prefixed? [@nstudio/xplat](https://github.com/nstudio/xplat) for example prefixes nativescript apps or web apps with nativescript or web.
* These need to work with the dependency graph. If this wo

[2021-03-15 17:10] AgentEnder opened #10 "Ability to manage project references"
## Use Case

Generated apps should be able to add references to generated libraries. This could look like either:
`nx g nx-dotnet/add-reference <target> <source>`
or
`nx run <target>:add-reference <source>`

## Considerations
* A warning at minimum should be thrown when trying to add a reference to another app
* Adding a  reference to a project should add an implicit dependency to nx.json as below

[2021-03-15 18:05] Jordan-Hall commented on #3
download link to the binaries dotnet.microsoft.com/download/dotnet/thank-you/sdk-[5.0.200]-[macos/windows/linux]-[cpu]-binaries my suggested we download the binaries and place them into .bin folder. The alternative is to create another package which we publish fist and then use typescript bash to wrap it.

[2021-03-15 18:31] AgentEnder commented on #3
My only concern with this approach would be keeping that version number up to date. It would not be too big of a burden to update the plugin to support latest version every now and again, but is something to consider. We should definitely use global version rather than install sdk locally if available and version matches though, .net sdk doesn't need to be cloned all over a user's pc.

[2021-03-16 09:05] Jordan-Hall commented on #3
Just a note in that one. Microsoft has a version json of the latest version and download link. Maybe that's a better route.

[2021-03-16 15:05] AgentEnder commented on #3
Ah, that could definitely work well. Do you have a link to that json file?

[2021-03-16 15:07] Jordan-Hall commented on #3
https://raw.githubusercontent.com/dotnet/core/main/release-notes/releases-index.json
https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/5.0/releases.json

We could have like version 5 then depending on if its ^ or ~ depends on what we actually provide. Another way is to then make a npm package compile on each update so a team can fix a version too

[2021-03-16 15:59] AgentEnder commented on #3
Thats very interesting, we will need to decide for versioning whether to version the plugin based off of Nx's major version or .NET's major version. It would certainly make it easier for users to update their package.json if for example we launched at 11.0.0 since Nx is at  11.x.y, but that might not be a huge help.

I wish there was a spot in that json that stated if it was a preview, release can

[2021-03-17 03:27] AgentEnder commented on #9
## Known Issues
* Does not obey --dry-run
* Does not clean up after tests, as it does not use the Tree impl. to handle files, since it uses the .NET cli.

[2021-03-17 03:28] AgentEnder opened #11 "Generator for app / library does not obey --dry-run"

[2021-03-17 03:29] #9 closed

[2021-03-17 19:39] Jordan-Hall commented on #11
I'll have a fix for this when I finish the builder. It shouldn't be too difficult

[2021-03-17 20:15] AgentEnder commented on #11
I think I can fix it pretty easily too, dotnet supports the -dry-run flag natively, just need to pass it in whenever the generator is ran in dry run mode

[2021-03-17 20:57] AgentEnder opened #12 "Ability to generate, publish, and use custom .NET project templates"
https://devblogs.microsoft.com/dotnet/how-to-create-your-own-templates-for-dotnet-new/

- [ ] #23 Ability to generate .NET project templates
- [ ] #24 Ability to publish .NET project templates
- [x]  Ability to use custom .NET templates. (this works by default, since we fall back on .NET CLI)

[2021-03-17 21:25] AgentEnder opened #13 "Executer for lint using dotnet format"
https://github.com/dotnet/format

[2021-03-18 04:31] #10 closed

[2021-03-19 18:53] AgentEnder commented on #11
Not quite fixed.

[2021-03-19 19:19] #11 closed

[2021-03-22 22:49] AgentEnder commented on #7
e2e tests for generation are working, building is pending the builder

[2021-04-09 19:07] AgentEnder opened #14 "Implement project graph generation"
Currently nx-dotnet is handling project references by updating nx.json.

This should be updated to use https://nx.dev/latest/angular/structure/project-graph-plugins

[2021-04-12 03:17] #1 closed

[2021-04-13 01:46] AgentEnder opened #16 "Github Actions workflow fails on commit to master if no apps are affected"
If no apps were affected by the build job then the entire workflow is marked as failed, since the deploy job depends on the artifact existing.

This could be corrected by not triggering the deploy step if no artifacts were published.

[2021-04-13 23:50] #16 closed

[2021-04-15 19:19] #7 closed

[2021-04-15 19:20] AgentEnder commented on #4
Since primary purpose is for generating TS interfaces for API results, look into using swagger.json from APIs.

https://github.com/domaindrivendev/Swashbuckle.AspNetCore#retrieve-swagger-directly-from-a-startup-assembly

[2021-04-15 20:11] #2 closed

[2021-04-15 20:11] AgentEnder commented on #2
Duplicate of #8 , which has more info.

[2021-04-16 11:54] AgentEnder commented on #8
Wired up using Chokidar + `dotnet run`

[2021-04-16 11:54] #8 closed

[2021-04-16 18:53] AgentEnder commented on #14
This is available on the dev release branch now (`npm i @nx-dotnet/core@dev --save-dev`).

[2021-04-16 18:53] #14 closed

[2021-04-17 02:03] AgentEnder opened #18 "feat(aspnet): new plugin to manage aspnet-codegenerator + other aspnet functionality"
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/tools/dotnet-aspnet-codegenerator?view=aspnetcore-5.0

[2021-04-19 02:07] AgentEnder opened #19 "feat(sql): Support for SQL Projects through MSBuild.Sdk.SqlProj"
`dotnet` cli tool does not currently support sql projects. To patch this gap we could use https://github.com/rr-wfm/MSBuild.Sdk.SqlProj

[2021-04-20 13:48] AgentEnder opened #20 "feat(core): Support for `nx test my-dotnet-app`"

[2021-04-23 21:25] bcallaghan-et commented on #6
This could be accomplished with a shared MSBuild properties file named [Directory.Build.props](https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2019#directorybuildprops-and-directorybuildtargets). This file will automatically be imported into each project found below it in the file system. It may contain any MSBuild property, including `<PackageReference />` eleme

[2021-04-23 22:12] bcallaghan-et opened #21 "Feature Request: Support scoped namespaces"
Currently, all applications and libraries are generated with the PascalCased version of the name given by the user, without any prefix or scoping. At minimum, I would like to see the organization name at the start of the project name/namespace, similar to the existing `npmScope` configuration used with JS libraries. For example, a library named `my-lib` with an `npmScope` of `my-org` should use th

[2021-04-23 23:59] #21 closed

[2021-04-24 00:04] AgentEnder commented on #6
Hmmmm, thats an interesting idea. I did not know about the directory file like that.

Like you said the dotnet cli would not install new packages to that by default though, and if anyone was to open a project in VS the package manager would not know about these packages.

Perhaps it would be better to have a section in the nx-dotnet.config.js file that has package versions listed in it, and update

[2021-04-24 00:06] AgentEnder commented on #21
Excellent spot. This also matches the pattern VS would use when adding files as far as the folder namespacing goes.

Thanks for the contribution!

[2021-04-26 16:04] bcallaghan-et commented on #6
Visual Studio 2019 recognizes packages that live in `Directory.Build.props` when using the visual package manager, but any changes made within that package manager are saved into the `csproj` file, including updates made to packages that already live in the global file.

No matter which global file ends up holding the shared packages, a schematic to rebuild the global file from the individual proj

[2021-04-26 16:44] AgentEnder commented on #6
Yeah, there would definitely be more duplication in the nx-dotnet.config.js. I am still personally leaning more towards utilizing it as xml manipulation is bit more painful that just updating the js exports.

Keeping built application sizes down by dotnet not knowing about the js config file is definitely a benefit.

Either route we choose a sync-packages schematic will be needed in case changes a

[2021-04-26 16:47] AgentEnder opened #23 "Ability to generate custom .NET project templates"
`dotnet new {template}` allows for installing custom templates. We should provide a generator that would house these in the mono-repo.

https://devblogs.microsoft.com/dotnet/how-to-create-your-own-templates-for-dotnet-new/

For more info see #12

[2021-04-26 16:48] AgentEnder opened #24 "Ability to publish .NET templates"
We should be able to install + publish .NET templates to a nuget feed.

See #12 for more info.

[2021-04-26 16:50] AgentEnder commented on #5
This issue is pending #6, as we work out how we wish to handle packages.

[2021-04-26 16:52] AgentEnder opened #25 "Executor to publish libraries to a nuget feed."
https://docs.microsoft.com/en-us/nuget/quickstart/create-and-publish-a-package-using-the-dotnet-cli

[2021-04-27 17:32] bcallaghan-et opened #27 "[BUG] Output directory does not follow the Nx pattern"
**Describe the bug**
The output directory added to the `csproj` file after generating a new project does not follow the pattern used by official Nx plugins. The generator `@nrwl/angular:application` (for example) will specify an output path that is identical to the project root, other than a `dist/` prefix.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Nx workspace
2. Generate

[2021-04-27 17:38] bcallaghan-et opened #28 "[BUG] Serve target should not be generated for libraries"
**Describe the bug**
When generating a library, the newly-added section of `workspace.json` includes a `serve` target. This target invokes `dotnet run` under the hood, which is not supported for library projects. The `serve` target should only be added to application projects.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Nx workspace
2. Generate a new class library with `npx

[2021-04-27 17:41] AgentEnder commented on #27
This looks good, I just forgot the part of the path specifier. If you want to tackle this go for it, should just need to update the generate-project.ts util file. Be sure to update the test as well. PR's should target dev for this.

[2021-04-27 17:43] AgentEnder commented on #28
This should be fixed in generate-project.ts. Bug was introduced when the logic was removed from the individual generators. Feel free to open a PR or I will get to it tomorrow sometime.

[2021-04-27 17:50] bcallaghan-et commented on #20
The option for `test-template` cannot be specified on the command line. When parsing the command-line arguments, the flag `--test-template` will be converted to the key `testTemplate` on the options object. The generator then checks `options['test-template']`, which will never contain a value. Consider the command `npx nx generate @nx-dotnet/core:app my-app --template console --language C# --test-

[2021-04-27 17:58] AgentEnder commented on #20
Nice catch, I was not aware the argument would be transformed like that, though it does make sense. I'll get that updated tomorrow morning (hope to have the test executor then as well.)

[2021-04-27 18:32] #27 closed

[2021-04-27 18:58] #28 closed

[2021-04-27 21:08] AgentEnder commented on #28
@all-contributors add @bcallaghan-et for code

[2021-04-28 17:48] #20 closed

[2021-04-29 02:23] #5 closed

[2021-05-01 23:01] #6 closed

[2021-05-04 17:54] bcallaghan-et opened #33 "[Feature] Executor to publish web apps"
**Is your feature request related to a problem? Please describe.**
My application projects have a "Publish Profile" generated by Visual Studio 2019. These files can be used with the `dotnet publish` command to deploy production-ready executables to the configured target (local folder, IIS, Azure, etc.). I would like to execute this command through Nx to enable a CI/CD workflow that includes `nx af

[2021-05-04 20:35] AgentEnder commented on #33
Something like this is a no-brainer to add, especially for things like `nx affected deploy`.

If you feel comfortable putting together a PR we can assign this to you, otherwise I will get to it sometime in the next two weeks or so.

Like you said the build or test executor are great starting points.

[2021-05-04 20:51] bcallaghan-et commented on #33
I started a branch for this, and I have all of the normal flags done. I'm trying to decide how the MSBuild properties should be handled. Flags like Publish Profile and User Name appear as `-p:PublishProfile=MyProfile` and `-p:UserName=MyName`. Note that they only have one dash, they have the `p:` prefix, and they use an explicit equals sign to denote the value. I'm leaning towards including the pr

[2021-05-04 20:59] AgentEnder commented on #33
I would add a special case for publish profile, so that it shows up in the schematic options. Schematic options would be each of the individual options listed on msdn for `dotnet publish`, with the additional option `publishProfile` and an option called "extraParameters" That would just take a string and could be appended to the end of the command within DotNetClient.

[2021-05-05 13:16] LayZeeDK opened #34 "[BUG] test suites are included in the NPM package"
**Describe the bug**
`*.spec.ts` files are included in the `@nx-dotnet/core` package. I noticed them for the generators.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install --save-dev @nx-dotnet/core`
2. Look in `node_modules/@nx-dotnet/core/(...)`

**Expected behavior**
No test suites are included in an NPM package.

**Environment:**
- Version: 0.4.1
- Affected Packages: `@nx-donet

[2021-05-05 13:23] LayZeeDK opened #35 "[BUG] dry run doesn't work with Nx Console"
**Describe the bug**
Files are actually generated when I use nx-dotnet generators with Nx Console to preview my options.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the Nx Console tab in Visual Studio Code.
2. Click on *Generate*.
3. Pick `@nx-dotnet/core - app`.
4. Specify any name.
5. Files are generated.

**Expected behavior**
No files should be generated when `--dry-run` is spe

[2021-05-05 14:20] AgentEnder commented on #34
This should be fixed in the next patch version, but is an issue within the Nx plugin generator by default.

I created nrwl/nx#5563 to handle this.

[2021-05-05 14:20] #34 closed

[2021-05-05 15:06] #35 closed

[2021-05-06 02:15] #33 closed

[2021-05-06 02:36] AgentEnder opened #38 "[BUG] init schematic bugs regarding .gitignore"
**Describe the bug**
* .gitignore is updated with duplicate entries when creating an app / library
* init schematic does not add gitignore entries for libraries
* init schematic is not compatible with custom workspace layouts

[2021-05-06 02:48] AgentEnder opened #39 "[BUG] sync schematic does not show package name in prompt"

[2021-05-06 02:58] #38 closed

[2021-05-06 02:59] #39 closed

[2021-05-06 17:32] bcallaghan-et opened #42 "[BUG] Tests fail when run with the --skip-cache flag"
**Describe the bug**
When using the Nx flag `--skip-cache`, all dotnet tests fail with the following error.
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new Nx workspace.
2. Create a new app with a test project using `nx generate @nx-dotnet/core:app --name=app --language=C# --template=console`.
3. Run the (empty) test project with `nx run app-test:test --skip-cache`.
4. T

[2021-05-06 17:45] AgentEnder commented on #42
Hey @bcallaghan-et . I believe the flag you are looking for is `--skip-nx-cache`, not `--skip-cache`

[2021-05-06 17:45] #42 closed

[2021-05-06 17:55] bcallaghan-et commented on #42
/facepalm Yep, that was the command I wanted. With the correct flag, the plugin works fine and all tests run.

[2021-05-07 16:01] AgentEnder commented on #34
Associated PR in @nrwl/nx has been merged.

[2021-05-17 19:41] bcallaghan-et commented on #13
For this and other tool-based features, we'll need a way to [manage .NET tools](https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools). The two ways we could install a tool are globally and locally. I prefer locally as this matches npm devDependencies. To install and use a local tool, the plugin would need to
1. Create a tool manifest (if one does not exist) using `dotnet new tool-manife

[2021-05-17 20:57] AgentEnder commented on #13
I definitely agree about installing tools being the path for getting this executor up and running.

I see something like this:
1. Init schematic is updated to create the tool-manifest, with some messaging about "Tool Manifest created for managing dotnet tools"
2. Tools are installed if needed at the time a schematic that would use them is used the first time.
    * In practice, this means that we

[2021-05-18 10:52] photomoose opened #43 "Dependency Graph not finding dependencies on class libraries when using MacOS"
**Describe the bug**
When using MacOS, the nx dependency graph does not show dependencies on class libraries from apps.

**To Reproduce**
Steps to reproduce the behavior:

1. Create workspace
2. Create console application (`nx generate @nx-dotnet/core:app Demo.App`)
3. Create class library (`nx generate @nx-dotnet/core:lib Demo.Lib`)
4. Using an IDE, create a class in Demo.Lib and consume it in De

[2021-05-18 14:05] AgentEnder opened #44 "Management of locally installed dotnet tools"
I definitely agree about installing tools being the path for getting this executor up and running.

I see something like this:
1. Init schematic is updated to create the tool-manifest, with some messaging about "Tool Manifest created for managing dotnet tools"
2. Tools are installed if needed at the time a schematic that would use them is used the first time.
    * In practice, this means that we

[2021-05-18 14:06] AgentEnder commented on #43
Hey @photomoose! Thanks for this issue, excited to see people trying this out on non-windows machines as I am sure that is where the plugin should shine.

I think I know what causes this, will get a fix out soon.

[2021-05-18 16:15] bcallaghan-et commented on #44
@AgentEnder I can start working on this today. The steps you've laid out are enough to get me started.

[2021-05-18 16:44] AgentEnder commented on #44
@bcallaghan-et Make sure to extract the steps for checking if tool is in manifest + checking if tools have been restored to utilities so they are easy to use from other generators.

[2021-05-18 17:17] AgentEnder commented on #43
@photomoose Let me know if you are still having issues with this, I don't have a mac available for testing just yet.

[2021-05-18 17:59] bcallaghan-et commented on #44
When a tool is installed locally, the binaries are cached in a global location, and the version number is noted in the local manifest file. If the same tool is re-installed, the cached binaries are used. Would it be acceptable to "install" the tool every time, rather than checking if it has been installed?

[2021-05-18 18:00] AgentEnder commented on #44
As long as the cached binary is used instead of deleting and reinstalling I am good with that.

[2021-05-19 16:40] #44 closed

[2021-05-19 16:45] AgentEnder commented on #13
With #44 closed, if anyone wants to take this feel free. The main things to remember is that we should support all options that dotnet format does.

I would want `--check` to be enabled by default for this executor, as it is a linter. The schema file should still contain check as an option, but should also contain an option fix that would disable check. This part is just to maintain consistency wi

[2021-05-19 16:53] AgentEnder commented on #4
I would now split this task into two parts. One will be an executor in @nx-dotnet/core, and the other in @nx-dotnet/typescript.

The executor should be something like `nx build-swagger some-web-api` and be added to projects only if their template is webapi. This would use the swagger cli tool `swashbuckle.aspnetcore.cli` to generate a swagger.json file from the webapi project.

The generator will

[2021-05-19 17:09] AgentEnder opened #48 "E2E tests broken in CI + hard to run locally."
E2E tests should be fixed, and new tests added for features that are missing e2e scripts.

publish-local should be able to be used with the .npmrc.local file to get package installation working correctly again.

[2021-05-19 18:13] bcallaghan-et commented on #13
I can work on this today. How do you want to handle the list-style options (diagnostics, include, exclude)? Should the schema allow for an array, or should the executor expect that the user has already formatted the list appropriately (comma or space separated)?

[2021-05-19 18:24] AgentEnder commented on #13
I don't believe the schema.json files allow for array types (if I am wrong, correct me as this is what would be ideal). Try a comma separated string and check if that works, if that does work we can go forward with that (noting it in the description of the option). If that does not work, we will figure something else out.

[2021-05-19 18:34] bcallaghan-et commented on #13
JSON Schema files allow for arrays. The better question is if Nx allows for arrays. If we specify an array type in the schema.json, then users will be able to type the value as an array in workspace.json, but they might not be able to use that option through the command line. I don't know how or even if Nx handles list-style options when coercing command line arguments to the JS object received by

[2021-05-19 18:36] AgentEnder commented on #13
Type them as arrays than, but for diagnostics in particular I could see someone wanting to run against 1 particular diagnostic as a use case so it may be worth adding a `diagnostic` parameter as well. This parameter would override the `diagnostics` array if it is provided.

[2021-05-19 19:09] bcallaghan-et commented on #13
Should the new format executor be added to new projects by default? Should a migration be created to add it to existing projects that use an older version of the plugin?

[2021-05-19 19:15] AgentEnder commented on #13
I would add it to all projects, but call lint instead since that will be the default functionality.

[2021-05-19 19:16] AgentEnder commented on #13
@bcallaghan-et you could have the executor be called format since it is calling `dotnet format`, but the architect section's key should be lint with the check option enabled.

[2021-05-19 21:17] photomoose commented on #43
@AgentEnder thanks for the quick fix, but unfortunately this didn't actually resolve the issue! I will take a look at it to see what's going on...

[2021-05-19 21:24] AgentEnder commented on #43
Ah, drat. I'll see if I cannot get to the bottom of this later tonight.

[2021-05-19 21:51] AgentEnder commented on #43
I was able to reproduce this via WSL2, so I should be able to publish a fix more confidently.

[2021-05-19 22:16] #43 closed

[2021-05-19 22:20] photomoose commented on #43
@AgentEnder I can confirm this now works! Cheers.

[2021-05-19 22:25] AgentEnder commented on #43
Haha! Excellent. Thanks for the confirmation. Anything else bumpy on non-windows machines? I really want to keep mac / linux first class.

[2021-05-19 22:47] photomoose commented on #43
Not yet, I haven't really used it in anger yet, I'm still trying to get a feel how this might work with a .NET project / mono-repo...

Our .NET applications run inside K8s, so our build artifacts are Docker images, where the Dockerfile copies the .NET source code into the build container and compiles it into a final image - (which can be achieved by bringing in the nx-docker plugin and adding a do

[2021-05-20 01:26] AgentEnder commented on #43
Understood. I do not have a ton of experience with docker + kubernetes (really painful on windows), so it has not been something I have heavily considered with the plugin.

Local development inside of an IDE like rider or Visual Studio is also something that is not a core focus for the plugin, but is something that we will strive to maintain. If a project is opened up in an IDE, nothing the user d

[2021-05-20 01:48] #13 closed

[2021-05-20 02:40] #48 closed

[2021-05-20 03:24] AgentEnder opened #52 "Missing e2e Tests"
Currently e2e / integration tests are only in place for the following 3 generators:

1. `nx g @nx-dotnet/core:app`
2. `nx g @nx-dotnet/core:lib`
3.  `nx g @nx-dotnet/core:project-reference`

The existing tests are only partial, and all held in one file. They should be split up and new tests added for the new options (such as test project generation).

The following commands are missing e2e tests,

[2021-05-20 03:26] AgentEnder opened #53 "Improve documentation + create docs site"
Need to find someway to auto-generated docs, likely taking inspiration from nrwl/nx.

[2021-05-21 15:51] AgentEnder commented on #53
Reopened for continued work on the doc generator + SSG

[2021-05-24 15:17] #53 closed

[2021-05-24 16:37] AgentEnder opened #58 "[Feature] Support for angular builders.json + collection.json"
Angular CLI supports builders.json + collection.json instead  of executors.json + generators.json. These should be supported by nxdoc.

[2021-05-24 16:38] AgentEnder opened #59 "[Feature] Display default values + enum options for schema properties"
Generated docs from nxdoc currently contain no info about default values or option choices from enum. These should be contained inside the markdown.

[2021-05-27 19:10] bcallaghan-et opened #60 "[BUG] Extra dot is added when creating a library in a custom directory"
**Describe the bug**
When generating a new library with the `--directory` flag, an extra dot is added to the project's name. This also applies to the corresponding test project.

**To Reproduce**
Steps to reproduce the behavior:

1. In a new Nx workspace, run the following command
[code]
2. Open the newly generated folder libs/my-folder/my-lib.
3. See that the name of the .csproj file is `MyFolder

[2021-05-27 21:31] #60 closed

[2021-06-07 16:15] ntziolis commented on #3
In my experience when using nx-plugins, it can be helpful when they are versioned in line with nx as this eliminates the need to figure out if a plugin version is compatible with the version of nx. That said having a table on the repo page with nx version to plugin version range easily fixes that + there is also the warning from npm for incorrect peer deps.

Also removing the control of the major

[2021-06-08 05:15] ntziolis opened #64 "[BUG] Nx Console Generate UI does not work with nx-dotnet generators"
**Describe the bug**
When using the Nx Console UI the the nx-dotnet generators do show up in the list. But when selecting either of them nothing happens. No options are shown and the generator is not executed.

**To Reproduce**
- Ensure Nx Console extension is installed
- Use Nx Console to generate
- Select @nx-dotnet/core app

**Expected behavior**
After selecting the generator a page with all op

[2021-06-08 16:31] AgentEnder commented on #64
This issue is related to nrwl/nx-console#1080

[2021-06-08 16:53] ntziolis commented on #64
@AgentEnder Yes I can now confirm that its an issue with nx console as when reverting back to `17.3.1` of the console the options page is properly shown.

[2021-06-08 16:54] AgentEnder commented on #64
Ok, great 👍.  I'll close this out, as it should be fixed whenever nx-console is updated.

[2021-06-08 16:54] #64 closed

[2021-06-09 20:57] AgentEnder commented on #3
Yeah, the versioning will be standalone since we have semantic-release setup now. Currently we are not doing anything for this issue, but at minimum doing something like:

`dotnet --version` and giving an error if dotnet is not found would be enough to close this out imho.

[2021-06-11 18:59] barry-tormey-imprivata opened #67 "[BUG] --collect:"XPlat Code Coverage" doesn't include parameter quotes"
**Describe the bug**
When running `nx test --project my-project --collect:"XPlat Code Coverage"` the `collect` parameter is passed to `dotnet test` without the quotes resulting in an MS Build error:

**To Reproduce**
Steps to reproduce the behavior:

1. Create a .NET app
2. Add [code coverage](https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-code-coverage?tabs=linux)
3. Run `nx te

[2021-06-28 16:29] bcallaghan-et commented on #67
This behavior is caused by the shell scraping out the quotes before it reaches Nx or the test generator. The string received by the generator is `XPlat Code Coverage` without quotes. A workaround is to wrap the collect parameter with single-quotes so that the shell includes the double-quotes in the parameter's value. Your full test command would then be
[code]

@AgentEnder We should consider quoti

[2021-06-28 16:34] AgentEnder commented on #67
I think it would be best to only wrap if necessary.

We should ensure that args fit these 2 criteria before adding quotes.
- Require Quotes
- Are not already quoted

This could be added to packages/utils/src/lib/utility-functions/paramters.ts

[2021-06-28 16:36] bcallaghan-et opened #68 "[Feature] Generator to create test projects for existing projects"
**Is your feature request related to a problem? Please describe.**
Many of my projects were migrated from a previous (non-Nx) repository and did not originally contain tests. I migrated the projects using the app/lib generators and setting the test template to None. Later, I tried to create tests for one of these migrated projects, but I could only choose app or lib. Either of those options would

[2021-07-05 16:27] #68 closed

[2021-07-08 17:43] bcallaghan-et opened #70 "[Feature] Add option for standalone projects"
**Is your feature request related to a problem? Please describe.**
I recently migrated my workspace to Nx 12.5 and switched to standalone project configurations. When I added a new .NET project to my workspace, the new project used the old `nx.json` and `workspace.json` configuration.

**Describe the solution you'd like**
I would like a new option added to the app and lib generators that generates

[2021-07-08 17:58] AgentEnder commented on #70
Hehe, funny enough I was the one who implemented this feature in Nx (and thus updated the nrwl generators with the option). Adding support for this is pretty simple. Heres what needs to be done:

1. Update schema.json files to add the option
2. Add it to typings
3. Pass value as 3rd parameter to addProjectConfiguration

Notably adding this 3rd parameter may be a breaking change since it did not ex

[2021-07-12 20:21] #70 closed

[2021-07-16 14:54] GregOnNet opened #72 "[Help Request] IDE Handling"
Hi,

thank you for integrating .NET with NX.
Currently, I am evaluating this plugin for our project.

## Seen Behaviour
Generating Apps and Libs works as expected.
I am also able to link a library to an application, modifying the .csproj-File.

Unfortunately, Rider does not recognize generated libraries as .NET projects.

## Question
Can you provide some guidance how the correct setup should look

[2021-07-16 15:08] AgentEnder commented on #72
Hey @GregOnNet. I've been meaning to add something like "@nx-dotnet/core:solution" as an executor, that would generate a temporary solution file for using in IDE's. As is, development in vs-code goes pretty smoothly since it does not care about / use sln files, but I know that is not necessarily ideal for .NET.

 Most of the work is already there, I've just been going between a generator vs execut

[2021-07-16 19:11] GregOnNet commented on #72
Thanks for sharing your thoughts.

By temporary file you mean it is highly dynamic, right?

My initial thought is
- adding a flag to the generate app-Command: sln true
- If no sln exists a new one is created
- After this each generate library or generate app looks for the sln-File... If sln is present the new app or library will be added to it

Another idea
- providing a flag to generate library t

[2021-07-27 11:19] jimsleon opened #73 "[BUG] Error when running `nx build` right after .net project creation"
**Describe the bug**
Get follow errors when running `nx build` after creating .net project using nx-dotnet

**To Reproduce**
Steps to reproduce the behavior:

1. Create a Nx react workspace
2. Generate a webapi .net project using `nx-dotnet`
3. Run `nx build` command
4. See error

**Expected behavior**
should build successfully

**Screenshots**
[code]

**Environment:**

- OS: [Windows 10]
- Versio

[2021-07-27 17:39] goldsam commented on #73
I'm experiencing this as well.

[2021-07-28 04:09] FairlieAgile commented on #73
I am also experiencing this after migrating @nrwl/angular from 12.4.0 to 12.6.2

[2021-07-28 21:21] jimsleon commented on #73
@goldsam @FairlieAgile
As a temporary solution, you can try to change the `process-project-graph.js` file to make it work with nx 12.6.2. hope it could solve your problem.

- Change line 19 from `return builder.getProjectGraph();` to `return builder.getUpdatedProjectGraph();`
- Change line 24 from `builder.addDependency(DependencyType.Static, projectName, dependencyName);` to
`builder.addImplicitD

[2021-07-28 21:49] FairlieAgile commented on #73
thanks @jimsleon . I was about to post the same. I can confirm that solves the issue for me.

[2021-07-30 15:52] AgentEnder commented on #73
I'll get this fixed asap, been on vacation :smile:

[2021-07-30 22:26] AgentEnder commented on #72
Hey, sorry. Really expected this to be done before vacation 🙍‍♂️. I'll try to swing back to this sometime this week.

[2021-07-30 22:36] #73 closed

[2021-08-02 20:05] GregOnNet commented on #72
Hey @AgentEnder,

no worries! Using the dotnet CLI creating the Solution File totally works for us.

[2021-08-07 18:26] photomoose opened #77 "Ability to create multiple test projects for an app/lib"
We're contemplating moving our existing .NET projects all into a single monorepo using nx; great work so far with nx-dotnet...!

For a given app, we might have multiple test projects - for example, we might have a test project which contains only unit tests, another which contains integration tests and another which contains acceptance tests:

*MyApp.Tests.Unit
*MyApp.Tests.Integration
*MyApp.Test

[2021-08-09 14:14] AgentEnder commented on #77
This should be a pretty easy addition, I'd suggest adding --suffix to the test project generator's schema, default value is test. Add it as a parameter to the generate-test-project utility, default value in function definition is -test, then update places its hard coded.

I'll leave this up for grabs, as it will be a hot second before I can get to it.

[2021-08-09 19:08] photomoose commented on #77
@AgentEnder I'll see what I can do...

[2021-08-18 13:55] photomoose opened #81 "[Feature] Impose constraints on the dependency graph via tags"
This functionality already [exists](https://nx.dev/latest/angular/structure/monorepo-tags) but appears to be only implemented by linter plugins to ESLint or TSLint.

We have moved 50+ .NET projects over into a monorepo using nx-dotnet, but we now fear that it might become a monolith/ball of spaghetti if we cannot impose constraints on which apps can depend on which libraries.

Is there a solution

[2021-08-18 14:47] AgentEnder commented on #81
Wow! I'm so glad to hear that you all have adopted nx-dotnet and only had a few small issues so far. If you have a chance, I'd love to hear more about how its went. Here is a discussion thread that would be great for that: https://github.com/nx-dotnet/nx-dotnet/discussions/83

There is definitely a path to move forward on supporting nx-enforce-module-boundaries, but the existing rule does only sup

[2021-08-18 15:12] #72 closed

[2021-08-19 01:04] AgentEnder commented on #81
@photomoose A roslyn analyzer would give feedback during regular development in the ide, but would a prebuild msbuild task be acceptable for you?

An msbuild task would allow us to reuse existing utilities as we could write it in node.

[2021-08-19 13:11] photomoose commented on #81
@AgentEnder Sure, an msbuild task will probably suffice - we're just looking for something to fail the build essentially - not too fussed about it being reported in the IDE at the moment (although that might be a nice to have).

I'll document our experiences so far in #83 shortly... but at the moment, things are looking promising. I've discovered a few minor issues which I'll either fix or raise i

[2021-08-20 03:05] #81 closed

[2021-08-20 03:06] AgentEnder commented on #81
This was fixed in #85, and should be available in v1.2.0

[2021-08-20 16:48] photomoose commented on #81
@AgentEnder amazing, you implemented this pretty damn quickly, many thanks! I'll give it a test and see how it works out for us, I'll let you know the end result.

Just a quick question - I notice the PR contains a migration to update all the proj files with the MSBuild task - how is this migration actually invoked? I've tried running `nx migrate @nx-dotnet/core`, which updates the package to
v1.2

[2021-08-20 16:52] AgentEnder commented on #81
Did it put the migration into migrations.json? You may still need to run `nx migrate --run-migrations`

[2021-08-20 16:59] photomoose commented on #81
It didn't create the migrations.json file the first time I ran it - however I am putting this down to me messing up the upgrade of the package with npm somehow.....

After discarding my local changes and reverting to v1.1.4, it correctly generated the migrations.json file, which once applied, has successfully added the build targets in all the proj files. Very nice indeed....I'll get tagging the p

[2021-08-20 17:10] photomoose commented on #81
Probably a non-issue, but if you don't have either an eslint config file or the moduleBoundaries key in the .nx-dotnet.rc.json file, then the build outputs some noisy error:

[code]

  Putting an empty `"moduleBoundaries: []"` in .nx-dotnet.rc.json squashes this error.

[2021-08-20 17:18] AgentEnder commented on #81
Ah, thats a good point. I'll add a check that the eslint is installed before trying to do the dynamic import.

[2021-08-21 17:22] osnoser1 opened #86 "[BUG] It doesn't recognize `global.json` file."
**Describe the bug**
The project doesn't run with the specific sdk specified in the `global.json` file.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a project with net core 2 or 3.
2. Run the project with `nx serve [project-name]`.
3. You will see a warning saying info about the support of a previous version to current.

**Expected behavior**
It should run the project with the spe

[2021-08-21 17:25] osnoser1 commented on #86
I had to move the `global.json` file to the root project.
Is this the expected behavior?

[2021-08-21 17:32] osnoser1 opened #87 "[Question] dotnet watch"
I've a question.

Why it doesn't use the `dotnet watch run` command to run the project instead of `chokidar`?

Using dotnet give the command the responsibility for refresh the project, and it could remove a dependency.

[2021-08-23 00:45] AgentEnder commented on #86
Huh, I had not considered that behavior, but it makes sense that it only picks up the root. `dotnet` crawls up the filetree looking for `global.json`, but it starts at cwd instead of the the location of the csproj. I'll get  a patch out for this.

[2021-08-23 00:47] AgentEnder commented on #87
Honestly, the reasoning is just that I was unaware that `dotnet watch run` would refresh the projects when there was a change in the dependencies (i.e. if `nx serve my-api` was ran with `dotnet watch run my-api.csproj`, I thought that changing `my-lib` may not cause the serve to relaunch. I think I am mistaken in this though, I'll check and if I was wrong I'll get it swapped over.

[2021-08-23 01:00] AgentEnder commented on #86
I would like to note though, that it does make sense for each project in the same repository to use the same dotnet sdk version, just to make it a cleaner dev + upgrade experience. This is similar to single version principle. I'm fixing this, as it will still work with global.json at root. I would recommend leaving it at root, and only overriding it at the project level if needed.

[2021-08-23 18:25] #86 closed

[2021-08-23 18:25] #87 closed

[2021-08-24 10:12] photomoose opened #94 "[CLEANUP] xmldoc package adds additional newlines in .csproj files"
The xmldoc package adds additional newlines when manipulating the .csproj file to add the output path and msbuild task (not sure whether this affects Windows users, but definitely affects MacOS users). Although functionality is not impacted, the additional whitespace looks a bit unsightly, especially when creating xunit test projects, which bring in several PackageReferences.

For example:

[code]

[2021-08-24 14:29] AgentEnder commented on #94
Hey @photomoose, I had not actually seen that the xmldoc toString method is not a guarantee. That's a shame, I would think it would be a main goal of an xml library.

The code looks much simpler with fast-xml-parser anyawys, and you've already got it sketched up. If you want to put in a PR for it go ahead, there are a few tests that should be updated as well.

[2021-08-24 14:29] AgentEnder commented on #94
If you do decide to work on it, go ahead and assign this issue to yourself.

[2021-08-24 22:31] photomoose commented on #94
Sure, I'll see what I can do. I don't appear to have permissions to assign this issue to myself, however - could you assign it to me, please?

[2021-08-24 22:35] AgentEnder commented on #94
Ah, my bad, I thought you could 😄. You are assigned.

Thanks for the contributions!

[2021-08-26 03:13] epic-media opened #96 "[BUG] @nx-dotnet/core:serve produces invalid executing command"
Versions 1.3.0 and 1.3.1 produce the following executing command for @nx-dotnet/core:serve (which exits immediately with Exit Handler Called):

When rolling back to 1.2.0 the correct command is generated and executes ok:

[2021-08-26 15:27] #96 closed, assigned to AgentEnder

[2021-09-14 10:54] cgnuechtel opened #100 "[BUG] Different output directories on default/production and publish/build"
The output directories are different on _default_ configuration (debug)/_production_ configuration (release) and `@nx-dotnet/core:publish`/`@nx-dotnet/core:build` in `workspace.json`.

## Steps to reproduce the behavior 1:

1. Create a new Nx workspace
2. Generate a new .NET application with `npx nx generate @nx-dotnet/core:app my-app --template console --language C# --test-template none`
3. Run `

[2021-09-14 19:20] AgentEnder commented on #100
Hey @cgnuechte. Good catch! This is because we recently moved to executing the `dotnet` commands from project root instead of workspace root. I'll try to get a fix for this soon, but in the meantime you should be able to specify this path as a relative path as you mentioned.

[2021-09-14 19:21] AgentEnder commented on #100
If youre interested, this could be an easy PR, just in the publish / build executors you can use nodes path.relative method to calculate the path relative to the project source before passing it to the dotnet client.

[2021-09-14 19:22] AgentEnder commented on #100
Let me know if you are interested and I'll assign it to you, it will be about a week or so.

[2021-09-15 08:06] cgnuechtel commented on #100
Hi @AgentEnder Yes, that sounds great :-) I was always interested how to write a Nx plugin.

[2021-09-15 16:24] photomoose opened #101 "[Feature] Make nuget restore optional in package.json prepare script"
Our mono-repo now contains 95+ .NET projects! 🥳

All is great, however when our CI build runs `npm install` to install nx and its dependencies, it also fires off the `nx g @nx-dotnet/core:restore` command that was added to the package.json `prepare` script.

This results in a huge time loss - the implicit nuget restore takes approximately 9 minutes on our build agent to restore all the packages fo

[2021-09-15 16:53] AgentEnder commented on #101
Yeah, on a fresh clone this would take a bit of time... I'll push out a patch for this, so that the init script only adds it once instead of on readding it if its been deleted.

[2021-09-15 17:03] AgentEnder commented on #94
@photomoose Are you still planning to work on this? If not, I may pick it up.

[2021-09-15 17:07] AgentEnder commented on #100
@cgnuechtel Actually, now that I'm looking at this I cannot reproduce it... Do you have a repro I can look at?

Are you on mac / linux or windows?

[2021-09-15 17:13] photomoose commented on #94
Apologies, I haven't yet had the chance to complete this, what with a
holiday etc.

If you want to take it, then please go ahead, you're likely to compete it
before I will!

On Wed, 15 Sep 2021 at 18:03, Craigory Coppola ***@***.***>
wrote:

[2021-09-15 17:23] AgentEnder commented on #100
Never mind, I ended up figuring out what was going on. I had already updated this to use path.resolve beforehand, but did then was updating the wrong object so it was not getting passed correctly. This will be fixed in the next patch version, didn't mean to take control but it was just relocating a line 😄.

[2021-09-15 17:49] #101 closed

[2021-09-15 17:49] #100 closed

[2021-09-15 19:35] photomoose commented on #101
Nice work dude! 🥇

[2021-09-16 13:36] cgnuechtel commented on #100
@AgentEnder Fine! Even better :-) Thanks for solving this!

[2021-09-16 13:41] AgentEnder commented on #100
This was the relevant commit, if you wanted to see what change was needed: https://github.com/nx-dotnet/nx-dotnet/commit/30a7a265d508df1dd50818dbd02d94b4ed871c6d

[2021-09-22 14:29] pemsbr opened #125 "[BUG] Project is being captured as a dependency even though it is not"
**Describe the bug**
A project is wrongly captured as a dependency **when it starts with the same name as a project that is actually a dependency.**

**To Reproduce**
Steps to reproduce the behavior:
1. Create 3 projects (`dep-project`, `dep-project-foo`, `target-project`)
libs/
├─ target-project/TargetProject.csproj
├─ dep-project-foo/DepProject.Foo.csproj
├─ dep-project/DepProject.csproj

2. Add

[2021-09-22 15:53] AgentEnder commented on #125
Yikes, yeah thats valid. I'd prefer something like this to make sure it doesn't break across OS's

[code]

@pemsbr Are you interested in putting a PR in for this? I can assign it to you if so 😄

[2021-09-22 15:59] pemsbr commented on #125
Sure, I can pick it up 👍

[2021-09-22 18:35] pemsbr commented on #125
I don't seem to have permissions to push my branch with the fix and create the PR

[2021-09-22 18:42] AgentEnder commented on #125
You'll need to fork it and push your branch there to create the PR, this gist seems to document that flow well

https://gist.github.com/Chaser324/ce0505fbed06b947d962

There's a discussion thread that details how to test your changes locally somewhere around here.

[2021-09-23 11:58] pemsbr opened #132 "[Feature] A `PackageReference` with `ReferenceOutputAssembly=false` should not be a dep"
**Is your feature request related to a problem? Please describe.**
A `ProjectReference` with `ReferenceOutputAssembly` set to `false` should not be captured as a dependency.

From the [docs](https://docs.microsoft.com/en-us/visualstudio/msbuild/common-msbuild-project-items?view=vs-2019#projectreference)

| ReferenceOutputAssembly | Optional boolean. If set to false, does not include the output of

[2021-09-23 14:13] AgentEnder commented on #132
What would the use case for this be? For the purpose of target dependencies and such it sounds like the current behavior may still be desired

[2021-09-27 16:25] #125 closed

[2021-09-27 16:43] pemsbr commented on #132
I would like to ensure that a project builds before another one

[2021-09-27 17:06] AgentEnder commented on #132
Is the reasoning behind wanting the build ordering due to an artifact being created or similar?

[2021-09-28 19:30] pemsbr commented on #132
Yep! Here's the scenario:
- Project A (classlib) has an msbuild target that runs (`dotnet run --no-build`) Project B (console) to generate some source files.
- Project A needs Project B (console) to be built beforehand.
- Project A cannot (should not) reference Project B because of how we defined our tags

[2021-09-28 19:52] pemsbr opened #151 "[Feature] Run `@nx-dotnet/core:serve` with `--watch=false`"
**Is your feature request related to a problem? Please describe.**
I would like to run a console app to generate some source files without having the file watcher running.

**Describe the solution you'd like**
Ability to pass in an option to `@nx-dotnet/core:serve` that sets `watch=false`, similarly to how we would do it with the `@nrwl/web:dev-server` executor: https://nx.dev/l/a/cli/serve#watch

[2021-10-05 14:10] dasco144 opened #179 "[BUG] nx lint fails on dotnet project"
**Describe the bug**
The nx lint command fails on the dotnet project due to the `check` argument being removed in favour of `verify-no-changes` [here](https://github.com/dotnet/format/issues/1268#issuecomment-901291779)

**To Reproduce**
1. run nx lint on your dotnet project
2. the command runs and installs dotnet-format (latest version at time of writing 5.1.225507)
3. the command fails
4. See er

[2021-10-05 17:02] AgentEnder commented on #179
Yikes, I didn't expect that option to change. That seems like a breaking change for no good reason on the `dotnet` side of things. I'll work on this at some point, need to make sure it works with the older versions too.

Thanks for the report.

[2021-10-13 20:07] bcallaghan-et opened #202 "[BUG] Format executor fails when installed dotnet-format is out of date"
**Describe the bug**
The 3rd-party tool dotnet-format recently published an update (5.1.250801). After this update, all of my dotnet lint targets started failing with the following error
[code]

**To Reproduce**
1. Specify an older version of dotnet-format in the `dotnet-tools.json` manifest file (e.g. 5.1.225507)
2. Run the lint target of a dotnet project (e.g. `nx lint my-dotnet-proj`)

**Expect

[2021-10-14 20:19] AgentEnder commented on #132
@pemsbr Sorry for just getting back to this. Would I be correct in saying that the issue here is not that Nx is labeling the dep, but rather the enforce-module-boundaries logic is complaining about the dependency?

For runtime purposes since Project A requires Project B be built, it would be closer to an implicit dependency as we do w/ cypress / e2e projects in the main Nx repo. Given this, would

[2021-10-14 23:19] #179 closed

[2021-10-14 23:19] #202 closed, assigned to bcallaghan-et

[2021-10-15 06:26] AgentEnder commented on #132
This was released in v1.5!

[2021-10-15 06:26] #132 closed

[2021-10-15 10:07] pemsbr opened #214 "[BUG] ProjectReference's under the Choose msbuild element are ignored"
**Is your feature request related to a problem? Please describe.**
`ProjectReference`'s under the [Choose](https://docs.microsoft.com/en-us/visualstudio/msbuild/choose-element-msbuild?view=vs-2019) msbuild element are ignored by the enforce-module-boundaries check.
[code]

**Describe alternatives you've considered**
As a workaround, I'm currently setting the condition on the `ProjectReference`'s i

[2021-10-15 14:35] AgentEnder opened #215 "[Bug] I'm not able to lint my projects after 1.4.3"
@AgentEnder @bcallaghan-et I'm not able to lint my projects after this update, getting the following error:
[code]
I'm on version `5.0.400` and dotnet-format `5.1.225507`

_Originally posted by @pemsbr in https://github.com/nx-dotnet/nx-dotnet/issues/179#issuecomment-944190637_

[2021-10-15 18:01] AgentEnder commented on #214
Why should these not be part of the module boundaries checks? If these are adding one or the other references to the project, than they _should_ be part of the boundaries.

[2021-10-19 11:37] pemsbr opened #223 "[BUG] dotnet run invoked incorrectely when `--watch=false`"
**Describe the bug**
Extra space when watch is set to false
https://github.com/nx-dotnet/nx-dotnet/blob/4c469fb8b82ebe4c13aa2bcfc2efb19daff65aa8/packages/dotnet/src/lib/core/dotnet.client.ts#L55-L57

[2021-10-19 14:44] #223 closed, assigned to AgentEnder

[2021-10-19 15:22] pemsbr opened #225 "[Feature] Add support for `dotnet msbuild`"
**Describe the solution you'd like**
Ability to invoke MSBuild targets through a new `@nx-dotnet/core:msbuild` executor
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-msbuild

[2021-10-22 15:49] pemsbr opened #233 "[BUG] `npm i -D @nx-dotnet/core` fails (^1.6.0)"
**Describe the bug**
`npm i -D @nx-dotnet/core` fails to install (^1.6.0) if `@nrwl/devkit` is not listed as a dependency:

Call stack (root path omitted with .....)
[code]

**Additional context**
Error disappeared after installing `@nrwl/devkit`

[2021-11-10 17:07] AgentEnder opened #238 "[BUG]: @nx-dotnet/core postinstall task fails during pnpm install"
Hey @AgentEnder I think this breaks restore.

After clearing my node modules and installing using PNPM I get this:

[code]

I think it's because no dependencies are specified and @nx-dotnet is being installed before @nrwl/tao

Otherwise because of the way PNPM works the @nrwl/tao folder just doesn't exist yet.

_Originally posted by @JakeGinnivan in https://github.com/nx-dotnet/nx-dotnet/issues/21

[2021-11-10 17:08] AgentEnder commented on #238
Yeah, I need to add a whole slew of peerDependencies, need to narrow down what range of Nx is compatible to keep it broad.

[2021-11-12 10:38] dasco144 opened #239 "[BUG] nx affected with paralell fails due to locked files"
**Describe the bug**
When running affecting commands in CI with parallel flag, we seem to get issues where there are errors due to files being used by another process, most likely another dotnet test command or something similar.

` System.IO.IOException: The process cannot access the file '/home/vsts/work/1/s/dist/libs/utils/api/constants/net5.0/Org.Utils.Api.Constants.deps.json' because it is be

[2021-11-12 17:03] AgentEnder commented on #239
Hey @dasco144, thanks for the report. An easy workaround for this for the time being could be to rename the test target on the dotnet projects, maybe to something like "vstest" or "mstest" or whichever framework you use. Then in CI you could have your steps look like `nx affected:test --parrallel` followed by `nx affected --target vstest` until this is fixed... I'll have to investigate if there is

[2021-11-17 16:05] AgentEnder commented on #239
@dasco144 In CI have you already ran the builds before the tests? I wonder if `nx affected:test --parallel --no-build` would work? That's still something that would fail for non .NET projects since that arg doesn't exist in say @nrwl/jest:jest

[2021-11-18 18:05] bcallaghan-et opened #240 "[BUG] Default build options are incompatible with Nx incremental builds"
**Describe the bug**
Dotnet projects are built more than once in a single pass with incremental builds enabled. For example, consider a workspace with a .NET app A that depends on .NET lib B which in turn depends on .NET lib C. Running `nx build A` will produce the following chain of events.

1. Nx builds project C
    1. dotnet builds project C
2. Nx builds project B
    1. dotnet builds project

[2021-11-18 18:18] bcallaghan-et opened #241 "[Feature] Add support for .NET solution files when generating new projects"
**Is your feature request related to a problem? Please describe.**
Visual Studio and Visual Studio Code both handle .NET workspaces better when a solution file (.sln) is present. While they recognize all projects that exist in the workspace, neither IDE provides a full experience for project dependencies, installed NuGet packages, or proper IntelliSense unless the IDE has been opened with a soluti

[2021-11-18 18:26] AgentEnder commented on #240
Hey, I discussed this a bit on the NX community slack here (https://nrwlcommunity.slack.com/archives/C017QSST318/p1634751205054800?thread_ts=1634333090.036900&cid=C017QSST318).

I would really like to get this working, but unfortunately have been rather busy as of late... I'd love for --no-dependencies to work, theoretically all that would be needed is a part of the executor that runs before the .

[2021-11-18 18:34] AgentEnder commented on #241
Hey, this is a problem that I've thought about a bit... My fear w/ workspace root level solution files is how slow IDE's can get when they have many projects. Its possible that I'm just thinking prematurely, and it should just be added.

The alternatives that I had thought about are something more like
[code]

This could of course live alongside the workspace level solution 🤔

[2021-11-18 18:47] bcallaghan-et commented on #241
Would that code identify isolated sub-graphs and create a solution file for each sub-graph? I'd considered doing something similarly myself, albeit manually. That's pretty similar to how we did it before introducing Nx to the mix. It won't be a long-term solution for us though, since we're planning on adding enough util/shared libs that it all becomes one massive graph again.

[2021-11-19 00:01] AgentEnder commented on #241
Hey, I'm going to try to put together some thoughts here, but I'm aware that there are kind of a lot of them 🤷

## Some form of project-graph based solution generator
Would look something like `nx g @nx-dotnet/core:sln --project {p}`, to function similar to `nx affected:sln`.

### Pros
- Users can generate a solution file to open in their IDEs that only contains relevant projects

### Cons
- "rele

[2021-11-19 00:02] AgentEnder commented on #241
There is some additional commentary on solution files here (https://github.com/nx-dotnet/nx-dotnet/discussions/167), but I think that my statements above fall in line with that discussion too.

[2021-11-19 17:28] bcallaghan-et commented on #241
I currently have a workspace-level solution file that contains 60 C# projects (my workspace also contains 2 Angular projects). Visual Studio is noticeably with this large solution than with a solution of 2-3 projects, but it still opens in ~12 seconds. VS Code didn't open any slower with the solution file than it did without the solution file.

Another feature worth considering if you want to do s

[2021-11-19 17:56] AgentEnder commented on #241
I think its worth checking if the workspace level solution file exists, and adding new projects to it at a minimum. We could write a guide or something for using solution filters, I hadn't considered them. Do you know how those impact performance?

[2021-11-19 18:04] bcallaghan-et commented on #241
From the docs, solution filters claim to improve performance relative to a massive all-encompassing solution file. Filters only load the projects you select, rather than loading all projects.

[2021-11-19 18:18] AgentEnder commented on #241
Interesting, I'll keep those in mind as a target for future dates.

Do you want to take on the root level solution file? In my mind it would work like this:
Add a flag (--solution) to both project generators, optional. Takes either a string or boolean.

If its a string, its a path to the solution file. This should be saved as a default parameter in nx.json (i.e. nx.json has a section like this aft

[2021-11-22 07:02] dasco144 commented on #239
I'll have to try that out. I'll let you know when I get a chance to do so.
Thanks again

[2021-11-29 15:01] #241 closed

[2021-11-29 19:36] bcallaghan-et commented on #241
I just pulled the latest version to try out the solution files. When generating an app with a test project, only the app project is added to the solution file. The test project should also be added.

[2021-11-29 20:24] AgentEnder commented on #241
Good catch, should be patched up. Do you want to put in a PR for that?

[2021-11-29 20:36] bcallaghan-et commented on #241
Yes, I can work on that today.

[2021-12-08 20:54] paullryan opened #262 "[Feature] Ability to add template specific flags in generate new"
**Is your feature request related to a problem? Please describe.**
This is that right now I'm not seeing how to pass extra flags to the dotnet new call (e.g. --no-https for webapi).

**Describe the solution you'd like**
These flags are template specific so probably good as just an open question on the template for extra flags.

[2021-12-13 02:12] pemsbr opened #275 "[BUG] Not working with the nx daemon process enabled"
**Describe the bug**
Not working with the [Nx Daemon](https://nx.dev/l/a/guides/nx-daemon) process enabled.

**To Reproduce**
Steps to reproduce the behavior:

1. Enable the opt-in Nx Daemon process:
[code]

2. Open the Nx dependency graph.
[code]

3. `nx-dotnet` projects appear without any dependencies.

[2021-12-13 02:23] pemsbr opened #276 "[Feature] Search for dependencies in `.cs` files (`usings`)"
**Describe the solution you'd like**
Apart from searching for dependencies in `.csproj` files, nx-dotnet should also check for usings in `.cs` files.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
[Global using directives](https://devblogs.microsoft.com/dotnet/announcing-net-6/#global-

[2021-12-13 16:30] AgentEnder commented on #276
Is it possible to introduce a new project dependency w/o updating the `.csproj` file? I thought that was still necessary, and given that it wouldn't make sense to introduce the complexity of walking the source tree

[2021-12-13 16:53] AgentEnder commented on #275
Hey, thanks for reporting this. Can you run `nx report` and include the output here?

Is there any additional logging when this happens?

[2021-12-13 19:59] t-ricci-delta commented on #241
Neither apps nor libs to me are added to the solution file, even if specified from command line:

`npx nx g @nx-dotnet/core:app my-api --template webapi --solutionfile MySolution.sln`

I tried with nx.json settings:

[code]

and

[code]

none worked and I still have a empty .sln file (I had to create it manually because it didn't create one automatically on init)

[2021-12-13 20:03] AgentEnder commented on #241
@t-ricci-delta do you care to open an issue and provide the output of `nx-report` alongside this? That well help identify the cause. Thanks.

[2021-12-13 20:14] t-ricci-delta opened #280 "[BUG] dotnet app/lib not added to solution file"
**Describe the bug**
When generating a new .net app or lib it is not added to the solution file even when specified

**To Reproduce**
Steps to reproduce the behavior:

1. Initialize new nx workspace (`npx create-nx-workspace`)
2. `npm i --save-dev @nx-dotnet/core`
3. `npx nx g @nx-dotnet/core:init`

(no empty `.sln` file is generated automatically, make one manually)

4. Create solution file in th

[2021-12-13 20:16] t-ricci-delta commented on #241
Here's the new issue: https://github.com/nx-dotnet/nx-dotnet/issues/280

thanks!

[2021-12-13 20:35] t-ricci-delta commented on #280
So I basically missed a hyphen - in the solution-file parameter

[2021-12-13 20:55] AgentEnder commented on #280
It will create it when specified the first time. Solutions are totally optional so we don't create them until asked to do so.

[2021-12-13 20:56] t-ricci-delta commented on #280
Ah I see

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Craigory Coppola ***@***.***>
Sent: Monday, December 13, 2021 9:55:21 PM
To: nx-dotnet/nx-dotnet ***@***.***>
Cc: Tommaso Ricci ***@***.***>; Author ***@***.***>
Subject: Re: [nx-dotnet/nx-dotnet] [BUG] dotnet app/lib not added to solution file (Issue #280)

[EXTERNAL EMAIL]

It will create it when specifie

[2021-12-14 04:22] AgentEnder commented on #239
@dasco144 Did you get a chance to check this with `--no-build`?

[2021-12-14 04:32] #240 closed

[2021-12-14 04:32] #280 closed

[2021-12-14 04:33] AgentEnder commented on #275
I'm unable to reproduce this in 1.8.0 locally, do you care to check w/ latest?

[2021-12-14 07:01] dasco144 commented on #239
Sorry I have not had a chance as of yet. I will have a chance to try next week.

[2021-12-14 10:42] t-ricci-delta opened #290 "[BUG] NX test error"
**Describe the bug**
Launching `nx test` fails (I have both an angular frontend and .net backend)

**To Reproduce**
Steps to reproduce the behavior:

1. Genereate new NX workspace
2. Install and initialize nx-dotnet
3. Generate angular frontend application
4. Generate .NET backend application (webapi)
5. run command `nx test`
6. Observe it fails when trying to run .net tests

**Expected behavior**

[2021-12-14 14:26] pemsbr commented on #275
1.8.0 is still not working for me

[code]

[2021-12-14 15:47] t-ricci-delta opened #291 "[BUG] Nx lint error"
**Describe the bug**
Launching `nx lint` fails (I have both an angular frontend and .net backend)

**To Reproduce**
Steps to reproduce the behavior:

1. Genereate new NX workspace
2. Install and initialize nx-dotnet
3. Generate angular frontend application
4. Generate .NET backend application (webapi)
5. run command `nx lint`
6. Observe it fails when trying to run linting both on frontend (eslint)

[2021-12-16 12:05] pemsbr opened #295 "[Feature] Ability to pass application arguments in `@nx-dotnet/core:serve`"
**Is your feature request related to a problem? Please describe.**
`@nx-dotnet/core:serve` does not allow passing application arguments
From the [dotnet docs](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-run):

**Describe the solution you'd like**
Something along the lines of:
[code]

This target configuration would invoke the following dotnet command:
[code]

**Describe alternatives

[2021-12-16 17:41] pemsbr commented on #295
This can be simplified. If the options aren't recognized by `@nx-dotnet/core:serve`, they can default to application arguments, with `verb` being a reserved keyword for the application argument verb.

[code]

[code]

[2021-12-20 00:16] qazaqstan2025 opened #299 "[Security] Workflow main.yml is using vulnerable action bahmutov/npm-install"
The workflow main.yml is referencing action bahmutov/npm-install using references v1.4.5. However this reference is missing the commit [7e73ecd0864000ec1a8f86106d73e38c09dbaca3](https://github.com/bahmutov/npm-install/commits/7e73ecd0864000ec1a8f86106d73e38c09dbaca3) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 00:16] qazaqstan2025 opened #300 "[Security] Workflow pr.yml is using vulnerable action bahmutov/npm-install"
The workflow pr.yml is referencing action bahmutov/npm-install using references v1.4.5. However this reference is missing the commit [7e73ecd0864000ec1a8f86106d73e38c09dbaca3](https://github.com/bahmutov/npm-install/commits/7e73ecd0864000ec1a8f86106d73e38c09dbaca3) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE

[2021-12-20 15:26] AgentEnder commented on #299
This commit was only updating a dev dependency (https://github.com/bahmutov/npm-install/pull/61/files), and a version w/ the update has not been released. Since dev dependencies do not affect the actual runtime of the action, this update will not be made until an actual release has been published.

[2021-12-20 15:26] #299 closed

[2021-12-20 15:27] AgentEnder commented on #300
This commit was only updating a dev dependency (https://github.com/bahmutov/npm-install/pull/61/files), and a version w/ the update has not been released. Since dev dependencies do not affect the actual runtime of the action, this update will not be made until an actual release has been published.

[2021-12-20 15:27] #300 closed

[2021-12-20 15:40] AgentEnder commented on #291
@t-ricci-delta This issue, as well as the similar issue w/ test is coming from Nx falling back on angular CLI's test logic which doesn't know how to read executors, only builders which this extension doesn't currently provide.

Changing the lint script to `nx run-many --target lint --all` would match the behavior you are currently expecting.

[2021-12-20 15:40] #291 closed

[2021-12-20 15:40] #290 closed

[2021-12-20 15:41] AgentEnder commented on #275
Thats really weird, I can't reproduce this. Do you care to disable the daemon and grab a picture of your dep-graph?

[2021-12-20 15:52] t-ricci-delta opened #304 "[BUG] dotnet format/restore on nx lint breaks"
**Describe the bug**
Running `nx run-many --target lint --all` breaks if you have a nx-dotnet project in your workspace.

**To Reproduce**
Steps to reproduce the behavior:

1. Genereate new NX workspace
2. Install and initialize nx-dotnet
3. Generate angular frontend application
4. Generate .NET backend application (C# webapi)
5. run command `nx run-many --target lint --all`
6. Observe it fails wh

[2021-12-20 15:52] t-ricci-delta commented on #291
@AgentEnder `nx run-many --target lint --all` would still try to run all projects and it's not working as shown in #304

[2021-12-20 15:54] t-ricci-delta commented on #304
These projects are angular:

  - seating-assignment
  - seating-fe-e2e
  - seating-setup
  - pass-fe-e2e
  - seating-fe
  - pass-fe
  - shared
  - core
  - pass

  these projects are C#:

  - api-seating-test
  - api-core-test
  - api-pass-test
  - api-seating
  - api-core
  - api-pass
  - api-test
  - api

[2021-12-20 15:57] AgentEnder commented on #304
Does `nx lint api` pass? If it doesn't pass for you then that's expected... Narrowing down why `dotnet format` and `dotnet restore` fail for your .csproj files would be the path forward. If you don't want to use `dotnet format` for linting, you can always remove the lint target.

[2021-12-20 15:58] t-ricci-delta commented on #290
`nx run-many --target test --all` worked! Thanks

[2021-12-20 15:59] t-ricci-delta commented on #304
I tried only on api and this is the ouput passing --verbose

[code]

[2021-12-20 16:01] t-ricci-delta commented on #304
If I only run the restore it works:

[code]

[2021-12-20 16:11] AgentEnder commented on #304
Try running `dotnet format apps/api/Vip.Api.csproj --verbosity verbose --verify-no-changes` from workspace root. Unfortunately `--verbose` only applies to the Nx CLI portions of the command, and this is failing during `dotnet` execution.

[2021-12-20 16:20] t-ricci-delta commented on #304
The command was wrong "verbose" doesn't work with --verbosity. I runned it with diagnostic level:

[code]

[2021-12-20 16:27] AgentEnder commented on #304
What happens if you pass --noRestore to it too?

[2021-12-20 16:30] t-ricci-delta commented on #304
Without restoring seems to work.

[code]

[2021-12-21 16:02] asinino opened #308 "[BUG] Current folder with spaces does not watch"
**Describe the bug**
On my local computer, the project I'm working on includes spaces on the folder, trying to run 'nx serve api' bugs out with the message:

I tried to solve the problem locally and the solution is easy, on DotNetClient.run just convert the cmd variable to an array of parameters:
[code]

Do the proper changes to accumulate the function parameter 'parameters'. And to print the mess

[2021-12-21 17:35] asinino commented on #308
How can I push the fix to the repository?

[2021-12-22 08:46] asinino opened #309 "[BUG] Cannot run publish-local on windows"
**Describe the bug**
Tried the suggested way to publish my changes locally so I can use them on my projects. The command fails because 'cp' is not the windows command to copy files/folders.

**To Reproduce**
Steps to reproduce the behavior:

1. Run the command: `yarn publish-local`

**Expected behavior**
The command finish without errors.

**Screenshots**
![image](https://user-images.githubusercon

[2021-12-22 08:56] asinino opened #310 "[BUG] Can't run command publish-local 'e2e-registry' task not found"
**Describe the bug**
Tried the suggested way to publish my changes locally so I can use them on my projects. Used "Cmder" terminal emulator so the "cp" command is available on Windows, but then it fails again with the message "ERROR: Task not found: "e2e-registry"".

**To Reproduce**
Steps to reproduce the behavior:

1. Run the command: `yarn publish-local`

**Expected behavior**
The command finis

[2021-12-22 09:44] asinino opened #311 "[BUG] On "Handling Solution Files" documentation page nx.json example is not JSON"
**Describe the bug**
On the help page "Handling Solution Files" is provided a sample code to add to nx.json file, the code provided is not JSON valid to paste on the file.

The correct format for JSON should have all object keys enclosed in double-quotes `"`, the same should be done for string values.

**Expected behavior**
The examples on all documentation pages should allow the user to copy-past

[2021-12-27 10:50] t-ricci-delta commented on #304
@AgentEnder is there any way to pass the --no-restore from "nx run-many --target lint --all" #291 or fix the problem when the restore breaks during dotnet format?

[2021-12-30 17:53] pemsbr commented on #276
You're right, I think we can ignore this.

[2021-12-30 18:56] #276 closed

[2022-01-06 19:00] bcallaghan-et commented on #304
You can add `"noRestore": true` to the options of the lint executor of your .NET projects. You would have to ensure that restore is called at some point before linting. By default, restore is called from the prepare script (during npm install) so it is safe to use the noRestore option.

[2022-01-16 20:57] AgentEnder commented on #308
Hey @asinino, sorry I've been away for paternity leave at work, and trying to stay away to spend time with family. If you have WSL setup on windows, I can verify the repo works well under it. Further tooling changes would have to wait for me to be back, unless you feel like working on those and then I can review them.

[2022-01-16 21:32] AgentEnder commented on #275
@pemsbr Is this still occurring for you?

[2022-01-18 11:32] pemsbr commented on #275
I tried enabling it again and it's still happening. I'll do that, thanks 👍

[code]

[2022-01-19 18:02] pemsbr opened #335 "[BUG] `ProjectReference`s with glob patterns are ignored"
**Describe the bug**
`ProjectReference`s with glob patterns are ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 3 projects (`target`, `deps/dep-1`, `deps/dep-2`)
libs/
├─ target/Target.csproj
├─ deps/dep1/Dep1.csproj
├─ deps/dep2/Dep2.csproj

2. Set projects under `deps` as project references in `target`
[code]
3. Run `nx dep-graph`
4. `target` has no dependencies

**Expected

[2022-01-19 19:32] pemsbr opened #336 "[BUG] Argument forwarding not working as expected"
**Describe the bug**
Argument forwarding not working as expected.

https://nx.dev/workspace/run-commands-executor#arguments-forwarding

The command:
[code]
is invoking:
[code]
instead of:
[code]

**Expected behavior**
The `args` option should allow passing raw strings to the command.

**Additional context**
Fixing this would also close #295

[2022-01-20 12:02] dasco144 commented on #239
@AgentEnder We finally got around to doing this (year end crunch haha). Seems to work well if we build the affected dotnet projects before we run the tests.

I'm guessing that the --no-build command just gets dropped against the angular projects? Either way it looks like we have our solution for the time being.

Thank you for the assistance! 👍

[2022-01-20 12:02] #239 closed

[2022-02-07 15:47] AgentEnder opened #352 "[BUG] Smoke tests fail in Nx 13.6+"
**Describe the bug**

Running `nx affected --all --target smoke` results in failures. The defaultFileHasher with git in Nx 13.6+ is returning an empty file map, causing Nx to not find any files for the projects.

See failing runs here: [smoke tests](https://github.com/nx-dotnet/nx-dotnet/actions/workflows/smoke.yml)

[2022-02-08 03:00] AgentEnder commented on #275
I maintain that this issue should be fixed on Nx's side, but found the root cause while investigating the failing smoke tests. The `process.cwd()` is different when the daemon is active during `processProjectGraph()`,  leading to an ENOENT error when running `readFileSync('some-path/relative/to/workspace/root)`. The error messaging was hidden from logs due to us catching errors, so it wasn't visib

[2022-02-09 16:30] AgentEnder commented on #335
I honestly didn't know the glob patterns were an option 🤷. We should probably move to using `dotnet list reference` instead of parsing the xml files for projects, especially with the daemon being the default for Nx I'm not too worried about the perf penalties.

[2022-02-15 16:14] #275 closed

[2022-02-15 17:42] lourd opened #363 "[BUG] Test and format executors don't work with Nx VSCode extension"
**Describe the bug**
When trying to run the `test` or `format` executors from `@nx-dotnet/core` using the [Nx Console](https://marketplace.visualstudio.com/items?itemName=nrwl.angular-console) extension for VSCode, it fails with the error "Builder specified for {project name} {command} was not found in your dependencies. Check that specified builder is correct and has a corresponding entry in pack

[2022-02-15 20:25] AgentEnder commented on #363
Can you check the output panel in vscode and see if more info is available?

[2022-02-15 20:33] AgentEnder commented on #363
This looks like it may be an issue on Nx Console's side of things. I'll open an issue there. In the meantime, running the executors from the panel instead of codelens or command palette will work through nx console today, or just using the CLI either way as a workaround.

[2022-02-15 20:45] AgentEnder commented on #352
Fixed by [f76e4c6](https://github.com/nx-dotnet/nx-dotnet/commit/f76e4c6758f9434a138fcdb90af2ee3ff5fafd92)

[2022-02-15 20:45] #352 closed

[2022-02-18 20:07] AgentEnder commented on #363
This should be fixed in the next Nx console release, since it has been merged. Going to close this now.

[2022-02-18 20:07] #363 closed

[2022-02-28 12:07] asinino commented on #311
Pull request #375 created to fix this issue.

[2022-02-28 14:01] #311 closed

[2022-02-28 17:07] asinino commented on #308
Hello
Took some time to have spare time to do this.

I added a PR that encloses the project path + name with double quotes (present ao all commands referencing a project).
I did not add a test for this situation, a name with spaces and or a parent folder name with spaces, is the test a requirement? If needed how can I develop this solution?

[2022-02-28 17:32] AgentEnder commented on #308
The test would be nice, but this is fine as-is IMHO. The `dotnet` package itself is pretty light on tests, if one were to be added I'd recommend just adding an e2e test in the core-e2e project since there are not currently e2e tests set up for the `dotnet` project.

Eventually, we should probably set up e2e for it, shouldn't be hard but isn't currently done.

[2022-02-28 19:28] AgentEnder commented on #304
I'm going to go ahead and close out this issue since it seems to be stemming from within `dotnet` execution, and not nx specific. If you have further questions on the nx side of things feel free to open a new issue with that info.

[2022-02-28 19:28] #304 closed

[2022-02-28 19:35] YasserKharab opened #381 "Dependency Graph not being correctly generated"
Just started using nx-dotnet and having issues with dep-graph

**To Reproduce**
Just created a new workspace with two dotnet libs (lib1 ref lib2)
generate the workspace: `npx create-nx-workspace@latest`
choose template: apps
install nxdotnet: `npm i --save-dev @nx-dotnet/core`
create lib1 and lib2
add reference from lib1 to lib2
build everything: `npx nx run-many --target=build --all `
generate de

[2022-02-28 19:43] AgentEnder commented on #381
Can you run `nx report` and also check that '@nx-dotnet/core' is listed as a plugin in `nx.json`?

[2022-02-28 19:59] MasroorSyed-Tag opened #382 "[BUG] Can't build libs and dep-graph not working"
**Describe the bug**
The build and dep-graph script throw exception.
**To Reproduce**
Steps to reproduce the behavior:

1. Create a workspace with apps template: npx create-nx-workspace@latest and select the apps template.
2. Go inside the workspace and install nx-dotnet: npm install --save-dev @nx-dotnet/core
3. Create lib a: npx nx generate @nx-dotnet/core:library --name=a --language=C# --templa

[2022-02-28 20:02] MasroorSyed-Tag commented on #382
Nx Report
![image](https://user-images.githubusercontent.com/95434731/156050449-fc446145-b3d3-473a-977d-9012266aa581.png)

nx,json file
![image](https://user-images.githubusercontent.com/95434731/156050650-741d51dd-97d8-47aa-a4d2-9a41c0d1b8df.png)

[2022-02-28 20:04] YasserKharab commented on #381
Yes i do have  "plugins": ["@nx-dotnet/core"] under nx.json

results for `nx report`

   Node : 16.3.0
   OS   : win32 x64
   npm  : 7.18.1

   nx : 13.8.3
   @nrwl/angular : undefined
   @nrwl/cli : 13.8.3
   @nrwl/cypress : undefined
   @nrwl/detox : undefined
   @nrwl/devkit : 13.8.3
   @nrwl/eslint-plugin-nx : undefined
   @nrwl/express : undefined
   @nrwl/jest : 13.8.3
   @nrwl/js : undefine

[2022-02-28 23:59] #381 closed

[2022-03-01 01:07] #382 closed

[2022-03-01 20:20] YasserKharab opened #389 "Dependency Graph not working when adding angular lib"
After the fix related to 381, right now the following Exception is being thrown when adding an Angular lib or App to the workspace

**To Reproduce**
Just created a new workspace with two dotnet libs (lib1 ref lib2)
generate the workspace: `npx create-nx-workspace@latest`
choose template: apps
install nxdotnet: `npm i --save-dev @nx-dotnet/core`
add Angluar to nrwl: `npm install --save-dev @nrwl/an

[2022-03-01 20:58] AgentEnder commented on #389
Ah, drat. I see why, we used to have a tag (NX_DOTNET) that marked a project as belonging to the plugin. Then we only dealt with our analysis for projects with that tag. This doesn't work with project inference, so we dropped the reliance on the tag.

However, this function was missed evidently. It definitely throws if the directory doesn't contain a .NET project. I'll push an update out soon.

[2022-03-01 21:53] MasroorSyed-Tag commented on #389
@AgentEnder what version of nx-dotnet can we roll back to make it work?

[2022-03-01 21:54] AgentEnder commented on #389
I think 1.8.0 should be fine, as long as you are not using project inference.

[2022-03-01 22:31] #389 closed

[2022-03-02 15:42] AgentEnder commented on #308
Hmmmm, that doesn't seem like something that should have been changed by your previous PR. We've always passed fully resolved paths to the dotnet commands, and the updates you added shouldn't have changed anything with that. Let me look into it real quick.

[2022-03-02 17:33] asinino commented on #308
Ok, I'll convert the cmd into an array of arguments, it should fix the issue.

I'm having some trouble testing it offline, how can I run it locally? I changed the way Verdaccio is called and now it's correctly initialized. But the command to publish-local is falling (I'll open a new issue for this and try to properly supply a fix).

I don't control everything on my current machine and the environm

[2022-03-02 17:34] asinino commented on #308
Also, change this ticket back to open because the currently applied fix is breaking the package.

[2022-03-03 15:20] ntziolis commented on #308
Running into the same issue:
- Installed this lib via `npm install --save-dev @nx-dotnet/core`
- Created a new web api project via nx console
- Executed serve for project via nx console (command used is `npx nx serve my-project-name`

Output
[code]

When executing the command listed above in bash directly the web api starts up right away no issues, for refrence this is the command that works:
[cod

[2022-03-03 16:49] AgentEnder commented on #308
CC @asinino I pushed some updates to your branch and went ahead and merged it. Going to cut a release soon to fix since its pretty urgent bug. Everything looks fine testing locally, and E2E passed.

[2022-03-03 17:13] #308 closed

[2022-03-03 17:28] ntziolis commented on #308
I can confirm this fixed the bug for us. Hella quick turnaround guys, keep it up !!!

[2022-03-03 17:48] asinino commented on #308
I couldn't test it locally, it always failed, with my version of dotnet-format it still fails because the parameter "--check" does not exist.

Still, I pushed a fix to execute return the buffer from stdout. Can you see the change? Do I need another pull request?

[2022-03-03 18:08] AgentEnder commented on #308
@asinino Open a new issue for the `dotnet-format` bug, I verified it worked with dotnet 5.0.203 and 6.0.200 locally.

[2022-03-04 08:59] asinino opened #394 "[BUG] Version of dotnet format included in SDK version 6/7 is broken"
**Describe the bug**
I have `dotnet-format` V5.1.250801 installed globally, when I try to lint a project it fails.
I tried to get a changelog on the `dotnet-format` page but there are missing changelogs from version v5.1.225507 to V5.1.250801, need to see undercover to see what is the replacement.

**To Reproduce**
Steps to reproduce the behavior:

1. `dotnet tool install --global dotnet-format --

[2022-03-04 13:31] AgentEnder commented on #394
@asinino  looking at the v1.9.5 screenshot, it looks like its working correctly for you, but the actual `dotnet format --verify-no-changes` command is failing with the error. Can you try invoking the command directly from command line rather than through Nx to see if its a project issue?

[2022-03-04 13:33] AgentEnder commented on #394
In .NET SDK v6 they inlined the `dotnet-format` tool into the SDK but made some breaking changes such as using `--verify-no-changes` instead of `--check`. The version of the SDK matters, the version of the tool doesn't

[2022-03-04 17:35] asinino commented on #394
I started a new one using only dotnet 6 (previously I was using 5), using the next steps:

[code]

Running the `dotnet format` alone bugs out with the same error, maybe is something wrong with their format tool?

I've created a new project only using dotnet 6 SDK, with the steps:

[code]

I get the same error, so it's not @nx-dotnet. But maybe the lint command should fail, if we have this as part

[2022-03-07 09:08] asinino commented on #394
So I was digging on dotnet-format repository issues and definitely, this is an issue on their package and there isn't still a fix released, this only happens on `dotnet format` not in the tool command with a hyphen `dotnet-format`.

There isn't an ETA available yet.

**Option 1:**

Should we provide a quirk that temporarily (until the fix is released, we verify version > 6 and version < 6.0.3 or f

[2022-03-10 13:40] senthanal opened #396 "How to debug when running `nx serve` in vs-code?"
**Describe the bug**
While running the project with **npx nx serve myproject** in the vscode terminal, the debug is stopping at the breakpoints

**To Reproduce**
Steps to reproduce the behavior:

1. Setup a C# .NET webapi project template. The default project is WeatherForecast
2. Set a breakpoint at the GET method of WeatherForecastController
3. Run the project with **npx nx serve myproject**
4.

[2022-03-10 13:55] AgentEnder commented on #394
@asinino I added a workaround in the linked PR, taking something closer to option 1 but installing the tool locally. Do you care to review the changes?

[2022-03-10 16:39] AgentEnder commented on #396
For debugging to work in vscode, you'd need to setup a launch profile to run the serve command and attach the debugger, or manually attach the debugger. By default, `nx-dotnet` is not responsible for debugging since its editor is independent.

In general, the steps to debug the running process would be something along the lines of
1. setup debug tool
2. launch dotnet program (via nx serve...)
3. a

[2022-03-10 17:14] #394 closed

[2022-03-10 18:02] asinino commented on #394
Better than my solution, we let a port open for future problems, we just have to signal if we have a problem.

[2022-03-12 01:46] JayArrowz opened #398 "[Feature] Allow forwarding parameters from c# custom templates"
**Is your feature request related to a problem? Please describe.**
When i make a new template using: https://docs.microsoft.com/en-us/dotnet/core/tutorials/cli-templates-create-project-template

If i add template arguments/params `--functionName` as shown in the guide here: https://github.com/dotnet/templating/wiki/Reference-for-template.json

![image](https://user-images.githubusercontent.com/499

[2022-03-12 01:50] Nozemi commented on #398
Also to add to this issue; https://www.nx-dotnet.com/docs/core/generators/application

Each of the options for `nx-dotnet/core:application` are explained, and the `template`-option, even mentions some templates might have specific options you can pass. It doesn't tell us how to pass anything. If it was as obvious as in the command from the screenshot above, I'd agree not explaining it further.

[2022-03-22 16:41] senthanal commented on #396
Hi, Thanks for pointing me in the right direction. I've updated my launch.json which helps to run the .NET application in Debug mode. Following is my launch.json
`
{
  "version": "0.2.0",
  "configurations": [
    {
      "name": ".NET Core Launch (web)",
      "type": "coreclr",
      "request": "launch",
      "preLaunchTask": "build",
      "program": "${workspaceFolder}/dist/apps/api/<target f

[2022-03-22 16:41] #396 closed

[2022-03-25 12:38] dasco144 opened #401 "[BUG] Publish command fails with extra switches"
**Describe the bug**
Running a target that uses the publish executor seems to fail with any additional switches

Seems to be introduced by this change in this commit:
https://github.com/nx-dotnet/nx-dotnet/commit/fa8635518a5cd6cb0c262dc8926b8d32bfa894ca

**To Reproduce**
Steps to reproduce the behaviour:
In my repo I run the following command but in my testing, it seems to occur with any command t

[2022-03-25 14:40] #401 closed

[2022-03-31 07:56] asinino commented on #336
This is possible duplication of #262, though the explanation here completes the other ticket.

[2022-03-31 08:20] asinino opened #405 "[BUG] Can't use VS Code NX Console to reference a project library or a NuGet package"
**Describe the bug**
When using the VSCode NX Console plugging I can not add a reference to a project or a reference to a NuGet package, the command generated is missing the attributes' names.

**To Reproduce**
Steps to reproduce the behavior: see the images below, the example uses minimal parameters to have success but if we fill up other parameters they have the same problem.

![image](https://u

[2022-03-31 13:26] AgentEnder commented on #405
Hey @asinino! It looks like this is actually an issue with Nx console, it must not handle multiple positional parameters well. I'm going to file an issue there and then link it here.

[2022-04-04 22:22] AgentEnder opened #406 "[Feature] add a new `move` generator to @nx-dotnet/core"
**Is your feature request related to a problem? Please describe.**
`.csproj` files contain relative paths to any other projects in the repo that they reference

**Describe the solution you'd like**
These paths are updated during the move generator such that you can move a project from the command line without breaking other projects.

**Additional context**
`dotnet` doesn't support any kind of pat

[2022-04-08 16:22] #405 closed

[2022-04-11 19:05] rcompton78 opened #409 "Text executor always returns success"
The test executor (and possibly other executors) are always returning true.  Looking at the test execution code I noticed

1- dotnetClient logAndExecutute calls spawnExecSync but does not return the status
2- Once that status is returned, the executor currently always returns true.  It doesn't currently used the returned status

[2022-04-13 08:45] johannesf95 opened #410 "[Feature] Replace glob with fast-glob for .*proj file search in project-graph calculation"
**Is your feature request related to a problem? Please describe.**
When trying to introduce nx with nx-dotnet to a large existing solution with about 70 projects, I figured out that the project graph calculation took several minutes. By debugging the nx-dotnet plugin I found out that the glob search for .*proj files took about 3 minutes, due to the fact that I did not use the nx dist dir as output

[2022-04-13 14:49] AgentEnder commented on #410
Sounds good to me. Do you care to throw a PR together for this? If you've done it locally, it shouldn't be too much trouble. Use the same version of fast-glob we use in Nx; there are some regression bugs in the latest version.

[2022-04-13 15:31] johannesf95 commented on #410
Sure, will try to open a PR tomorrow! 👍

[2022-04-13 15:57] AgentEnder commented on #410
Regardless of the swap to fast glob, we should do option 2 eventually as well. Nx does this during project inference, but we should adhere to it as well.

[2022-04-13 18:34] AgentEnder commented on #409
This was fixed by #411

[2022-04-13 18:34] #409 closed

[2022-04-14 14:02] #410 closed

[2022-04-21 18:21] YasserKharab opened #423 "linting failing"
dotnet projects linting is failing in last version (1.9.11), running dotnet-format commands works correctly though.
replacing the lint node under the project.json as follow works as well:
[code]
default node fails:
[code]
with error: /home/runner/work/**
Executing Command: dotnet "tool" "run" "dotnet-format" "path to .csproj" "--verbosity" "minimal" "--verify-no-changes"
dotnet execution returned

[2022-04-21 20:09] AgentEnder commented on #423
There should be additional logging above the error message, do you see any? What version of .NET SDK is running?

[2022-04-22 15:22] YasserKharab commented on #423
running dotnet 6.0.202
the error above is the only detail in nx cloud, in console though it's asking to run "dotnet tool restore",
![image](https://user-images.githubusercontent.com/97306965/164744968-57194486-e49f-4adf-ae42-57b01407d2ef.png)

[2022-04-22 20:52] AgentEnder commented on #423
In `package.json` do you have the post-install restore hook?

[2022-04-22 20:53] AgentEnder commented on #423
During `npm run prepare`, it should run tool-restore. See here:

https://github.com/nx-dotnet/nx-dotnet/blob/master/packages/core/src/generators/restore/generator.ts#L22
https://github.com/nx-dotnet/nx-dotnet/blob/master/packages/core/src/generators/init/generator.ts#L82

[2022-04-24 20:08] mxa0079 opened #425 "[BUG] @nx-dotnet/core:test watch option is not working as expected"
**Describe the bug**
According to the [documentation](https://www.nx-dotnet.com/docs/core/executors/test)  there is a `watch` option that would determines if dotnet test or dotnet watch test is used to execute tests.

However, this option **results on the wrong command being invoked** and it does not work as expected

**To Reproduce**
Steps to reproduce the behavior:

1. Generate a new dotnet proj

[2022-04-25 13:38] AgentEnder commented on #425
Hey @mxa0079! Thanks for the report, it looks like this wasn't covered by our tests and was subsequently missed when changing over to use spawn.

[2022-04-25 20:20] YasserKharab commented on #423
No, using Husky instead, will try to add it in package.json

[2022-04-25 20:20] YasserKharab commented on #423
No, will try to add it in package.json

[2022-04-25 23:33] mxa0079 commented on #425
Thanks @AgentEnder for the prompt reply.

Ive updated to version 1.9.12 - the project now runs with the `watch = true` option however **it does not run on watch mode.** Hence, I request to re-open the issues.

[2022-04-26 00:22] mgutz opened #427 "[BUG] .NET directory and file naming conventions not followed"
**Describe the bug**

.NET naming conventions are not followed when creating app and library directories. This breaks C# snippets in my IDE which uses the directory as the namespace when adding classes, etc.

**To Reproduce**

1. Create an app using generator: `nx g @nx-dotnet/core:app ProductApi`

This creates `packages/product-api` package.  Note the project is named properly as `MyOrg.ProductAp

[2022-04-26 03:01] AgentEnder commented on #425
@mxa0079  I can't replicate the behavior you are describing.... running `nx test {project}-test --watch` launches the tests and retests when a file changes. Can you give more details to the errors you are seeing? Maybe some screenshots of terminal outputs could help.

[2022-04-26 05:05] mxa0079 commented on #425
My bad, things are working now. Thanks for your help! Fantastic response time, kudos to the whole team. Have a wonderful week!

[2022-04-27 15:26] AgentEnder commented on #310
Duplicate of #309

[2022-04-27 15:26] #310 closed

[2022-04-27 15:27] #233 closed, assigned to nobody

[2022-05-03 13:17] YasserKharab commented on #423
Sorry for delay, guess this has fixed the issue but i am adding the restore script "nx g @nx-dotnet/core:restore" inside the package.json prepare hook manually, any idea on how this get called ? https://github.com/nx-dotnet/nx-dotnet/blob/507e17ab411d8b7fbeb1df1f54baca3deda2f559/packages/core/src/generators/init/generator.ts#L13

[2022-05-03 13:41] AgentEnder commented on #423
The generator should be called anytime you generate an app / lib with nx-dotnet, but that specific function is only called when you don't yet have an nx dotnet config file.

I'm going to close this out since the issue seems to not crop up from a standard flow, and since its been fixed for your use case. Thanks @YasserKharab

[2022-05-03 13:41] #423 closed

[2022-05-05 14:38] danghung-dev opened #432 "[BUG] Cannot build when create symbolic link node_modules"
**Describe the bug**
We use jenkins pipeline to build dotnet docker image. Because node_modules is quite big so I mount the node_modules to PVC.
I have link node_modules folder like this
![image](https://user-images.githubusercontent.com/5670932/166896174-c671bc7b-0213-45b0-a8e1-b0242d503d27.png)

When I build by nx build smartlog-admin-api. It show error like below
![image](https://user-images.gi

[2022-05-05 17:12] danghung-dev commented on #432
I also add log to `nx-dotnet/core/src/tasks/check-module-boundaries.js` file like this

![image](https://user-images.githubusercontent.com/5670932/166976504-d0cd7ba5-0d56-4b66-beb1-7cb17690daa8.png)

Then the output is
![image](https://user-images.githubusercontent.com/5670932/166976629-f5c6c28c-644c-41ae-af34-0e3de6bf24d3.png)

So it cannot get nx.json file

[2022-05-05 17:21] danghung-dev commented on #432
If I modify file `nx-dotnet/core/src/tasks/check-module-boundaries.js` like this (change root folder )
![image](https://user-images.githubusercontent.com/5670932/166977948-e8d766d9-295c-44b4-9e77-f05230257e5d.png)

It has built successfully
![image](https://user-images.githubusercontent.com/5670932/166978118-548f1488-ab37-4a18-85c8-a33d03dc78fb.png)

[2022-05-05 18:37] danghung-dev commented on #432
I has already fixed this issue by set NX_WORKSPACE_ROOT_PATH=/home/jenkins/agent/workspace/SmartlogApp_dev
Thanks

[2022-05-05 18:37] #432 closed

[2022-05-11 02:50] maxime4000 opened #434 "[FEATURE] List available templates when running `dotnet new`"
**Describe the bug**
I cannot generate an app from a minimal project. I'm just trying out nx plugins, see how they work and how I could use that to improve the DX, but it seem like I'm not able to use this plugin at all. Missing instruction in the readme ?

**To Reproduce**
Here the step I have done.
1. nx create-nx-workspace@latest
2. Choose ts
3. yarn add -D @nrwl/linter @nrwl/angular @nx-dotnet

[2022-05-11 03:05] maxime4000 commented on #434
Ok I'm dumb and I just skip the part where I need to choose a project type. I guess this could be improve!
This options would be nice :
- Have a list of choice that you can select from. Same type of select as C#, F#, VB, but for the list found on template-options
  - Having Other (unlisted) if you need to select a template that this plugin doesn't know of.

Also, does `npx nx g @nx-dotnet/core:ini

[2022-05-11 08:19] DerStimmler opened #435 "[BUG] Can't use executor @nx-dotnet/core:format"
**Describe the bug**
I can't use the @nx-dotnet/core:format executor to format my dotnet code with dotnet-format anymore. When I run the linting command there are errors saying that the command or argument is unknown.

**To Reproduce**
1. Define linting target with executor `@nx-dotnet/core:format` for a dotnet project in `workspace.json`.
[code]
2. Run linting with `nx lint domain`.
3. Error occu

[2022-05-11 14:14] AgentEnder commented on #435
@DerStimmler I think this is caused by the version of dotnet-format being outdated for your .NET SDK version. Try removing it from your dotnet-tools.json file and rerunning the executor, which should install the applicable version.

[2022-05-11 14:19] AgentEnder commented on #434
Adding some links and notes here for whenever it is implemented.
- Remove x-prompt from schema.json, we will prompt during `normalizeOptions` in project generators.
- Use enquirer + select to run the prompts
- Use `dotnet new --list` to get available template info: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new-list

[2022-05-11 14:45] DerStimmler commented on #435
Oh I thought it would be the latest dotnet-format version since its the latest version on nuget and GitHub.

So I removed the entry from my `dotnet-tools.json` and ran the linter again.

It first installed the latest version of dotnet-format and then updated the `dotnet-tools.json` file accordingly.
Sadly the error stays the same.

[code]

But the latest dotnet-format version should be correctly i

[2022-05-16 09:54] DerStimmler commented on #435
FYI when I delete my `dotnet-tools.json` file completely I get an error saying that a manifest file couldn't be found.

[code]

[2022-05-18 14:24] AgentEnder commented on #435
I'd expect the manifest error, since it is required to install tools.

The arguments errors are quite bizarre, could you run `dotnet tool run dotnet-format --help`?

[2022-05-18 14:29] AgentEnder commented on #427
Hey @mgutz, sorry for just now getting back to you on this. This is an interesting case, I'd argue that the vs code extensions should make use of the .csproj files and such rather than relying so strictly on folder names 🤷. Given that they do though, we may be able to add a flag to generate the file path as requested.

This isn't really a bug on our end though, there was a deliberate decision that

[2022-05-18 14:30] AgentEnder commented on #434
This was released in 12.10, through #436

[2022-05-18 14:30] #434 closed

[2022-05-20 00:34] murphomatic opened #442 "[Feature] Ability to Simplify Project Name"
**Is your feature request related to a problem? Please describe.**
We have a somewhat complex directory structure in our Nx workspace - so we often times find our apps under /apps/app-name/tech-used/app-api.  Since the project name is constructed as a composite of the project directory + provided name, we wind up with project names like "app-name-tech-used-app-api" when all we need is "app-api"

*

[2022-05-20 12:35] gnuechtel commented on #435
Same probleme here.

Our environment:

[code]

When we use the same command-line as @nx-dotnet/core:

[code]

We got the same error as described in this issue:

[code]

With a slight modification, everything works fine (please take note of the extra `--`):

[code]

But I think, it is not required anymore to install dotnet format as extra tool, because they fixed dotnet format with recent dotnet ve

[2022-05-20 14:15] #435 closed

[2022-05-28 00:34] roldengarm opened #445 "[Feature] - Dev Server Target for test target"
**Is your feature request related to a problem? Please describe.**
We have a C# API, and end-to-end tests in a test project that do e2e tests on our API. So, when these tests run, the API server should be started to.
With Cypress this is possible by defining a `devServerTarget`.

**Describe the solution you'd like**
The `@nx-dotnet/core:test` executor gets a new option `devServerTarget` which can

[2022-06-07 05:41] mxa0079 opened #450 "[Feature] Enable support for Azure Functions projects"
**Is your feature request related to a problem? Please describe.**
Currently, the generator does not support creating a C# project for Azure Functions. Since Azure Functions support multiple languages and depends on a different cli to create its projects templates and is not included with the OOB dotnet templates.

**Describe the solution you'd like**
 I'd like to have nx dotnet generator OOB supp

[2022-06-08 08:35] EelcoLos opened #451 "[BUG] Cannot Find module nx/src/utils/app-root with nx 14.2"
**Describe the bug**
NX 14.2.0 / 14.2.1 requests a nx-dotnet/core:restore with npm install. This results in an error and cannot be resolved

**To Reproduce**
Steps to reproduce the behavior:

1. Install latest nx (time of writing 08-06-2022) with `nx migrate latest`
2. run `nx migrate --run-migrations`
4. See error

**Expected behavior**
A working nx-dotnet/core restore generator command with nx

[2022-06-08 08:43] EelcoLos commented on #451
I checked the source file of approot on the nx folder, which states the following:

[code]

[2022-06-08 13:11] AgentEnder commented on #451
Yeah, 14.2 moved it. I'll get a release out soon to support it.

IIRC I can import this from devkit now so it shouldn't break compatibility with previous Nx versions. I'll try to track down when the re-export in devkit was added so we can establish a minimum compatibility version

[2022-06-08 19:18] AgentEnder commented on #451
This should be fixed as of v1.12.0

[2022-06-08 19:18] #451 closed

[2022-06-09 07:23] RobertDiebels opened #455 "[Feature] Add support for Custom Tools Executors"
**Problem description**
At one of my clients we use Nx to build a mono-repo. We use Nx-dotnet to build some of our applications and we hit a roadblock. We wanted to add QA measures to our builds using SonarScanner.

Unfortunately, SonarScanner for .NET does not play nice with Nx as it requires that each project's `dotnet build` command is wrapped with a `dotnet sonarscanner /begin` and a `dotnet s

[2022-06-09 13:48] AgentEnder commented on #455
First, some things that we **_are_** planning to do in nx-dotnet:
- run-tool executor
- msbuild task executor

The run-tool executor would allow you to configure Nx's targetDependencies to get you to where you need to be, but I don't think it would be ideal for a few reasons.
- You'd miss out on nx-cloud's DTE feature. The running of the sonarscan tool produces a side effect that would only be on

[2022-06-09 14:43] RobertDiebels commented on #455
@AgentEnder

Ah that's good news! Thanks for the heads up :D !

I considered using targetDependencies but, don't Nx executors execute for all projects before the next target is processed? So even if I would introduce a target-dependency this would not solve the "wrapping" of the build command that needs to occur.

Wouldn't adding prebuild and postbuild tasks just shift the problem onto MSBuild ins

[2022-06-09 15:03] AgentEnder commented on #455
Yeah, it kind of would. This is ideal though for **_most_** pre/post build tasks though, since you generally want them to function if calling the build from visual studio / rider / some other IDE that isn't configured to use the Nx commands. In general, I'm trying to target interopt w/ peoples existing dev tools for the plugin, so pre/post build tasks that only execute through Nx make less sense t

[2022-06-09 18:21] AgentEnder commented on #450
Hey @mxa0079! This is something that would be interesting, that I hadn't originally considered for the scope of nx-dotnet.

If you use the functions cli to generate the project, can you run `nx g @nx-dotnet/core:import-projects` to generate the Nx configuration?

[2022-06-10 08:15] RobertDiebels commented on #455
I've currently implemented a variation of this. Instead of calling the commands directly I've written 3 custom Nx Executors. One for the `dotnet sonarscanner /begin` command, one for the `dotnet sonarscanner /end` command and one that executes the dotNetBuildExecutor with the previous two executors as pre- and post tasks.

This allowed me to provide options and overwrite the project-key, or any ot

[2022-06-22 06:02] mxa0079 commented on #450
Ill give it a try

[2022-06-22 16:11] Ossur opened #462 "[Feature] A generator for removing a nuget-reference"
**Is your feature request related to a problem? Please describe.**
If a nuget-reference is added to a project, it is unclear how to remove it.

**Describe the solution you'd like**
A generator that removes the nuget reference with `dotnet remove`, and removes the reference from `nx-dotnet.rc.json` only if no other project still needs it.

**Describe alternatives you've considered**
I tried to remo

[2022-06-30 16:58] bcallaghan-et commented on #406
Thinking out loud here: the generator would need to do the following.

1. Move the project's files to the new directory
2. Update the `.csproj` of every project that references the moved project.
3. Update the `root`/`sourceRoot` properties `project.json`/`workspace.json` of the moved project
4. Update the path within `workspace.json` (if using separate `project.json` files)
5. Update the `.csproj

[2022-06-30 17:52] AgentEnder commented on #406
A minimalist version of the generator could only do steps 1-4 and be "done", later we could enhance it with the refactoring / ast work.

For steps 1-4, you'd just call through to the regular Nx move and then after calling it youd need to handle the csproj name changes

[2022-06-30 19:43] AgentEnder commented on #406
I don't think so, since the regular Nx move generator doesn't. It could be added perhaps, but I'm not sure how I'd design it in terms of schema

[2022-07-05 17:19] bcallaghan-et commented on #406
Two other things this generator might need to do

1. Update the solution folder path (when used with a Visual Studio solution)
2. Update the Nx project name (which currently contains the relative path of the project). For example, moving a project from `libs/billing/api` to `libs/shipping/shared` would rename the project from `billing-api` to `shipping-shared`.

[2022-07-05 17:34] AgentEnder commented on #406
2 should be done when invoking nrwl/workspace:move, so I wouldn't worry about it. 1 is definitely something we'd need to handle.

[2022-07-05 17:51] bcallaghan-et commented on #406
So you plan on using `@nrwl/workspace:move` do some of the heavy lifting? I wasn't sure if we could re-use the logic from that generator.

[2022-07-05 18:00] AgentEnder commented on #406
I'd let it do **_as much as possible_**. The only parts we should be doing is updating file contents after the relocation

[2022-07-05 18:22] bcallaghan-et commented on #406
The existing `@nrwl/workspace:move` generator crashes when used with an nx-dotnet project.
[code]

I tried with and without the `--no-updateImportPath` flag. If I add the following to `tsconfig.base.json`, then the generator completes as normal.
[code]

[2022-07-05 19:19] AgentEnder commented on #406
That's interesting 🤔, on the Nx side we should update that then... I'll add a backlog item, should be a quick change to make it work without tsconfig path

[2022-07-05 19:23] AgentEnder commented on #406
Feel free to deep import the utils that the workspace move generator uses in the meantime

[2022-07-12 15:01] georgechond94 opened #465 "[BUG] restore and sync fail"
**Describe the bug**

@AgentEnder I am getting the following error with both `nx g @nx-dotnet/core:sync` and `nx g @nx-dotnet/core:restore` (which runs as postinstall task during `pnpm install`):

[code]

After passing `--verbose` I see the following stack trace:

[code]

Any idea why I am seeing this error?

Note that other generators, like init, application and library work fine

[2022-07-12 15:08] AgentEnder commented on #465
Can you share a reproduction for this? It seems like your repo layout may be causing it.

[2022-07-12 15:42] georgechond94 commented on #465
Hey @AgentEnder thanks for your super fast response!

I think I just found why it's happening. I imported my projects fine by using the `@nx-dotnet/core:import-projects` generator.
This created the following project.json (library example):

[code]

Adding ` "sourceRoot": "libs/foo",` fixed the issue. (inspired by [link](https://github.com/nx-dotnet/nx-dotnet/blob/master/packages/utils/src/lib/util

[2022-07-12 15:48] AgentEnder commented on #465
Ah, I should check usage of that since source root is not required. Thanks for the report

[2022-07-12 21:11] irazorx1 opened #466 "[BUG] npm ci fails restore due to dotnet-format"
**Describe the bug**

When running the npm ci on CI (github actions) I would get an error about not being able to restore `dotnet-format` when running it locally works fine. If I look at nuget for [`dotnet-format`](https://www.nuget.org/packages/dotnet-format) the latest version matches what's in the log.

[code]

 While trying to debug the issue, I found that [here](https://github.com/nx-dotnet/n

[2022-07-12 22:08] tzuge opened #467 "[Feature] nx conventions on shared dependencies, unit tests with code, dist"
**Is your feature request related to a problem? Please describe.**

I am looking at reconciling our own dotnet plugin for nx with @nx-dotnet/core. We currently use [Directory.Build.props and Directory.Build.target](https://docs.microsoft.com/en-us/visualstudio/msbuild/customize-your-build?view=vs-2022) to customize the dotnet project to align to some default nx conventions, e.g. build output to /d

[2022-07-13 00:13] AgentEnder commented on #467
Hey @tzuge! I know we **_briefly_** chatted about this in the past, and I had been meaning to follow up on it, but it had been incredibly building. I'd **_love_** to help this merger happen. New contributors are always welcome, and new users mean more testing and better results overall.

[Original Discussion](https://github.com/GovAlta/nx-tools/issues/54)

Regarding the three concerns directly men

[2022-07-13 15:57] AgentEnder commented on #467
Hey, happy to move forward w/ Directory.Build.props / Directory.Build.targets. I'll open two issues for that now and link them here.

### Shared Dependencies

**_Most_** of the official Nx executors to build projects include an option called "generatePackageJson" or similar. This can be used along w/ some manual tweaking to generate a package.json that includes only the deps you need for your proj

[2022-07-13 16:03] AgentEnder opened #469 "[Feature] Generate Directory.Build.props during `init` generator"
## Current Behavior
Currently, we set the output path of C# projects in the monorepo individually. We do this by manually specifying them in each .csproj file. This has issues.
- If projects are moved, relative path is broken (see #406, #468)
- This is fragile, and a rather messy area of the codebase

## Desired Behavior
During `@nx-dotnet/core:init`, we should scaffold a minimal `Directory.Build.

[2022-07-13 16:06] AgentEnder opened #470 "[Feature] Generate Directory.Build.targets during `init` generator"
## Current Behavior
Currently, we set a prebuild task on C# projects in the monorepo individually. We do this by manually specifying them in each .csproj file. This has issues.
- If projects are moved, relative path to the node script is broken (see #406, #468)
- This is fragile, and a rather messy area of the codebase

## Desired Behavior
During `@nx-dotnet/core:init`, we should scaffold a minima

[2022-07-14 08:36] georgechond94 opened #471 "[BUG] nx affected:test fails due to wrong node_modules location"
**Describe the bug**
Everytime I run nx affected:test it fails with the following error:

[code]

What I noticed from the above is that it searches for a `node_modules` folder in the parent folder (D:\source\repos\node_modules) instead of my project's folder (D:\source\repos\foo\node_modules) where my `node_modules` folder lives.

I tried copying the `node_modules` folder from the project's folder

[2022-07-14 14:18] AgentEnder commented on #471
In `D:\source\repos\foo\libs\Common\library\library.csproj` you should see a prebuild task that invokes node. You may need to remove a `../` from the path, its possible you moved the library at some point as this path doesn't get updated by the `@nrwl/workspace:move` generator.

See #406 and #470 for some discussion regarding this.

[2022-07-15 09:54] georgechond94 commented on #471
@AgentEnder that was exactly it. Strange that all my projects in this workspace had an extra `../`. Thanks!

[2022-07-15 09:54] #471 closed

[2022-07-18 19:06] #466 closed

[2022-07-20 09:47] paul-hammant opened #473 "[Feature] could the README talk of migration from old build-tech choices to Nx please?"
Specifically, for teams using `dotnet test` to compile and run tests multiple projects within a solution.

All the examples within the README are for 'g' generate I think.

Thanks - Paul

[2022-07-20 09:56] paul-hammant opened #474 "[BUG] Generate lib doesn't complete."
1. Clone repo with existing .NET library solution/proj. One that used `dotnet test` as it's build toolchain.

2. Run ` npx nx g @nx-dotnet/core:lib my-lib` within (per the README)

[code]

Now, there's no mention of nx.json in the readme as an important step in the generation of a lib.

_Hacker me makes it with nano/vim with contents of `{ }` and re-runs._

3. Run `npx nx g @nx-dotnet/core:lib my-

[2022-07-21 13:27] paul-hammant commented on #474
https://github.com/paul-hammant/TestProjectForNxDotNetIssue Is the repo I have just made for this issue.

[2022-07-21 13:32] paul-hammant commented on #474
Now, some **new** problems with that (Mac)

[code]
Complains about missing JSON file, offers three solutions, No. 3 picked:

[code]
Causes:

[code]

[2022-07-21 13:34] paul-hammant commented on #474
Hacker me makes the `nx.json` file by hand again.

[code]

[2022-07-21 15:10] AgentEnder commented on #474
As noted [in the readme](https://github.com/nx-dotnet/nx-dotnet#prerequisites), one of the prerequisites for nx-dotnet is that you are operating inside of an Nx workspace already. To get started with this, you can create a workspace with `npx create-nx-workspace`.

Can you try inside an Nx workspace and see if you s till encounter issues?

[2022-07-21 15:28] paul-hammant commented on #474
I've chosen the first open and seen the command through to completion.

I the tried the nx-dotnet setup command again.

[code]

I tried `npm install`, then the same command again getting the same result.

[2022-07-21 15:44] AgentEnder commented on #474
Did you `cd` into your new workspace before running the command?

[2022-07-21 16:24] paul-hammant commented on #474
Oh. I see what you're saying. This is very complicated for a migration chore.

Maybe I should start over.

1. Create a fresh nothing-in-it nx-dotnet workspace
2. Use git-mv to move sets of existing source C# (etc) files into the workspace.
3. Confirm remainder of old directory structure.

[2022-07-21 17:13] paul-hammant commented on #474
OK, all done.  Seven or so commits - https://github.com/paul-hammant/TestProjectForNxDotNetIssue/commits/master

My understanding gap obviously. You have to create a NEW nx-dotnet project(s), then move in your legacy source code to fit that directory structure.  Nx is opinionated so you have to stick with that directory structure as you carry on.

In short, migration of existing is SECONDARY to nx

[2022-07-21 17:13] #474 closed

[2022-07-22 13:16] paul-hammant opened #477 "Affected test decision maker - can it be more discerning that whole assembly please?"
**Context**
There's two tests in https://github.com/paul-hammant/Project_Migration_To_Nx-DotNet_Example.

If i do `npx nx test my-app-test` it runs both and they pass.

If I change test #2 to definitely fail, and run the same command, the failure is noted:

![image](https://user-images.githubusercontent.com/82182/180446639-33a1aea6-3a42-408f-81db-69c459b28e0f.png)

**Issue**

But both tests in the

[2022-07-22 17:46] AgentEnder commented on #477
Nx operates on the project level, and for the most part our executors simply wrap the dotnet cli without adding functionality (except that they run through Nx).

We don't add functionality generally, s.t. folks can still use the IDE tooling they wish and get consistent results when the executors are called in a CI process.

This is kind of an interesting case, where we may be able to do this some

[2022-07-22 18:19] tzuge commented on #469
I am currently setting up dotnet projects in a monorepo to better understand this. For 'app' vs 'lib', the output path is different in nx convention, and this appears to be achievable with dotnet by checking the SDK.

[code]

[2022-07-22 19:53] paul-hammant commented on #477
I'l read that other bug report, but my initial thinking is that "re-run tests that previously failed" is different to what I'm asking for here.

[2022-07-22 20:00] paul-hammant commented on #473
I think it's clear that nx-dotnet does not presently migrate and existing .Net solution to Nx build system.  At least not like `2to3.exe` does for Python2 projects into Python3.  Per the demo in #474, it is a number of human initiated steps. I did that as a series of commits, but someone else could do the steps in a single commit.

[2022-07-22 20:00] #473 closed

[2022-07-22 20:15] AgentEnder commented on #477
Its a slightly different problem domain, but pretty similar solution space. As an aside, for specifically this problem, we don't do anything related to parsing the C# AST or trying to determine control flow and such. Determining which tests were actually affected is non-trivial, even given the set of file changes.

[2022-07-24 00:34] mystiker opened #480 "[BUG] Can not create new projects in non english environments"
**Describe the bug**
It's impossible to run `nx g @nx-dotnet/core:app` in any non english (system?) environment out of the box.

**To Reproduce**
Steps to reproduce the behavior:

1. ensure that the dotnet-cli does not output english localized text by running `dotnet new --list`
2. run `nx g @nx-dotnet/core:app`
3. follow up the wizard up to the point where you should choose a template
4. get the

[2022-07-25 19:27] AgentEnder commented on #469
Thats insteresting too, but the workspace layout is determined by a property in `nx.json`. Ideally, we should read `nx.json` to determine the apps / libs folders when creating this file. `@nrwl/devkit` exports readWorkspaceConfiguration, which we can access the appsDir / libsDir with.

During `init`, we could use it to update these.

At the same time though, I'm not really a fan of checking for th

[2022-07-25 19:30] AgentEnder commented on #480
This is fixed in https://github.com/nx-dotnet/nx-dotnet/commit/3c438e2236792c32a35d38a4429b3ebfdab12f13, but included in the commit by mistake. It won't show up in release notes as such, but should be fixed in next release.

[2022-07-25 19:30] #480 closed

[2022-07-28 07:31] paul-hammant commented on #477
I don't think AST is the only. Nor is a full [Test Impact Analysis](https://martinfowler.com/articles/rise-test-impact-analysis.html) via coverage tools. After mucking around trying to make a proof of concept in Python, I agree that it is hard and maybe something for much later down the line

[2022-07-28 20:36] tzuge commented on #469
Agreed about using appsDir / libsDir from the workspace config during `init` creation of the Directory.Build.* files. Regarding excluding apps / libs from the output path, I feel like that's not ideal since it's different from the non-dotnet projects.

Is there currently a generator that results in a project with `IsPackable` set to true? Although I suppose that really maps to "publishable libs" a

[2022-07-28 21:51] AgentEnder commented on #469
There is a different strategy to this that I've thought of that would match typical Nx dist output better. If we could represent `${workspaceRoot}/dist/${projectRoot}` in the Directory.Build.Props file than that would match up better than what we've been discussing.

There's not the concept of a publishable lib in nx-dotnet, the generators don't do a ton of extra stuff beyond `dotnet new` aside fr

[2022-07-28 23:05] tzuge commented on #469
Great idea. This seems to work.
[code]

[2022-07-29 04:02] mxa0079 commented on #450
Hello @AgentEnder - Ive tried using import-projects w/o success. The documentation for the generator states:

[Projects inside the apps directory will include a serve target, while projects inside libs will only contain build + lint targets.](https://www.nx-dotnet.com/docs/core/generators/import-projects)

My apps are inside the packages folder. Could this be the issue?

[2022-07-29 13:37] AgentEnder commented on #450
What is the actual error you are hitting? Is it just that there is no `serve` target?

[2022-08-02 19:05] tzuge commented on #67
@AgentEnder should this specific case be handled with a `--codeCoverage` parameter on the test executor? (consistent with the nrwl jest executor). It could also run report generator create the html report.

[2022-08-02 20:20] AgentEnder commented on #67
I'm not sure that this issue is still valid since we swapped to using spawn for most things... This would be a good one to double check

[2022-08-08 10:17] EelcoLos opened #489 "[BUG] CI NX Cached referenced dotnet projects will result in a failed build project of non-cached project"
**Describe the bug**
When trying to build a project which uses another project, cached by NX, will result in a build failure for not finding the dll.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a project (ie: 'ReferenceProject') with a class which will be called in the project B
2. run a CI build with ReferenceProject, making it cached
3. Create a second project (ie: 'CallingProj

[2022-08-08 14:53] AgentEnder commented on #489
@EelcoLos looking at the paths in the error message, it appears that your project doesn't send build outputs to `{workspaceRoot}/dist/...`.

Is this correct? Can you paste the `project.json` and `.csproj` files from the cached project here?

[2022-08-08 15:02] EelcoLos commented on #489
### nx.json
[code]

### workspace.json (extract only 'ReferenceProject')
[code]

### workspace.json (CallingProject: Forge.Data)
[code]

### csproj of cached project

[code]

[2022-08-08 15:55] EelcoLos commented on #489
@AgentEnder I'll do that first thing tomorrow.

[2022-08-09 08:57] EelcoLos commented on #489
sadly this did not work, though I think it's useful nonetheless
I luckily got this same issue at my workstation now, not only on the CI. What I notice is the incorrect reference to the dist folder. Inside is the sdk folder (net6.0) subfolder, which is not referenced

[2022-08-09 09:01] EelcoLos commented on #489
I did get an error when triggering this locally, with verbose this returned:

    at DotNetClient.build (C:\Users\elos\source\repos\DigitaalMeten\3d\meteninbim\node_modules\@nx-dotnet\dotnet\src\lib\core\dotnet.client.js:49:21)

[2022-08-09 09:06] EelcoLos commented on #489
Maybe good to point out that one of the projects is a .net standard 2.0 project and all others are .net 6

[2022-08-14 17:03] devklick opened #490 "[BUG] Cannot find module '@nrwl/js/src/generators/library/library'"
**Describe the bug**
When trying to create a new dotnet app in an empty nx workspace, I get the error:

**To Reproduce**
1. Create the nx workspace:
[code]
2. Select the `apps` option for the type of workspace to create
3. Install the nx dotnet plugin
[code]
4. Use the nx dotnet plugin to generate a dotnet application
[code]
5. Select any naming convention#
6. Error is thrown

**Expected behavior*

[2022-08-15 00:44] AgentEnder commented on #490
Hey @devklick , can you run `nx report` and include the output?

[2022-08-15 17:49] devklick commented on #490
HI @AgentEnder , see output below
[code]

[2022-08-15 17:54] devklick commented on #490
I've now installed the `@nrwl/js` plugin and ran the `npx nx g @nx-dotnet/core:app` generator again and it worked! Which is great.

I think it might be worth adding this to the list of prerequisites in the readme.

[2022-08-15 18:51] AgentEnder commented on #490
Yeah, this was already fixed but I had evidently not released it 😓. I'm pushing the release now. You can see the PR here: #484

I'm going to go ahead and merge your PR too, since it doesn't hurt to mention it.

[2022-08-16 14:28] krokofant opened #493 "[BUG] @nx-dotnet/core:test fails to generate test project"
**Describe the bug**
A clear and concise description of what the bug is.
The generator @nx-dotnet/core:test fails to add a test project

**To Reproduce**
Steps to reproduce the behavior:

1. `git clone https://github.com/krokofant/nx-dotnet-reproduction.git`
2. `npm ci`
3. `npx nx g @nx-dotnet/core:test --name my-lib --testTemplate xunit --language c# --pathScheme nx`

[code]

**Expected behavior*

[2022-08-17 10:51] sukhanovr opened #494 "[BUG] NX fails to detect .net projects dependencies if Ionic app presents in the repo as well"
**Describe the bug**
`nx-dotnet` utilizes ``${path}/**/*.*proj`` glob pattern to find .net project files within the workspace, so while building the graph for example `nx-dotnet` mistakenly assumes that `ionic`'s app with `project.pbxproj` file is a .net project as well. Which of course might cause multiple issues. In my case, nx fails to detect an explicit dependency between app and lib, while pr

[2022-08-17 14:55] AgentEnder commented on #494
Yeah, that makes sense. Definitely would appreciate a PR, should just be something like `${path}/**/*.@(fs|cs|vb)proj`

[2022-08-18 08:19] sukhanovr commented on #494
Here is the pull request:
https://github.com/nx-dotnet/nx-dotnet/pull/495

[2022-08-18 08:19] sukhanovr commented on #494
Here is the pull request:
https://github.com/nx-dotnet/nx-dotnet/pull/495

[2022-08-19 16:46] AgentEnder commented on #494
Fixed in #495

[2022-08-19 16:46] #494 closed

[2022-08-23 07:10] EelcoLos commented on #489
After some research, we probably found the culprit: a setting which defaulted by importing projects earlier.
The culprit itself was `noDependencies` on the outlier projects.

so the business project
[code]
which was imported a while ago using the `nx generate @nx-dotnet/core:import-projects` it was imported with `noDependencies` if I remember correctly.

The calling project **does** require the re

[2022-08-23 14:18] AgentEnder commented on #489
The dll should already be present, does your nx.json have targetDefaults / dependsOn setup for build?

The reason we pass `noDependencies` is to let Nx orchestrate the build of dependencies so that we can pull things back from the cache rather than having to actually build things.

[2022-08-26 13:33] AgentEnder commented on #493
Can you run `dotnet new --list` and paste the output here?

[2022-08-26 14:03] krokofant commented on #493
@AgentEnder
[code]

[2022-08-26 14:07] AgentEnder commented on #493
In `node_modules/@nx-dotnet/core/src/generators/utils/prompt-for-template` can you add `console.log({search, language, available})` under neath the declaration of `available` and try to rerun the command and paste that here too?

[2022-08-26 14:31] krokofant commented on #493
@AgentEnder This does nothing for the output of the command in the first post:
`npx nx g @nx-dotnet/core:test --name my-lib --testTemplate xunit --language c# --pathScheme nx`

I tried a throw and error as well, it doesn't seem like it's called at all.

[2022-08-26 14:37] AgentEnder commented on #493
Ah! Thats interesting... I thought it was part of our code but it looks like it may be part of the Nx code that throws. Let me investigate.

[2022-08-26 14:41] krokofant commented on #493
@AgentEnder Could it have to do anything with nx replacing inquirer with enquirer? I see nx-dotnet has inquirer as a dependency 🤔

https://github.com/nrwl/nx/commit/9cb23ddbbd42975bc7bb992438199564b029dfee

[2022-08-26 14:46] AgentEnder commented on #493
Its a bug in Nx, I'll post a PR soon and link it here. To bypass, you can pass `--suffix` on the command line

[2022-08-26 14:50] AgentEnder commented on #493
https://github.com/nrwl/nx/pull/11737

[2022-08-26 17:10] Ossur opened #498 "[BUG] swagger-typescript generator adds multiple identical import statements if more than one attribute has same ref type"
**Describe the bug**
When an object in the swagger.json file has two attributes with the same ref attribute, the generator adds two identical import statements, resulting in code that doesn't compile.

**To Reproduce**
1. Make a controller in a web api project return the following DTO
[code]
2. Build, then run the swagger generator and then the typescript swagger generator
3. It should return this

[2022-08-26 17:31] Ossur commented on #498
Already found and fixed the bug, but don't know how to push it in

[2022-08-26 21:48] AgentEnder commented on #493
Should be fixed in next Nx release, keep your eyes out.

[2022-08-29 13:18] aevartg commented on #498
+1 - need this fix

[2022-08-29 14:14] AgentEnder commented on #498
Hey! Thanks for the report and recommended fix, I'm going to clean it up a tad bit and then push a PR containing it.

As a side note, I had not been able to test the swagger typescript generator on more complex use cases. Have you all had any other issues?

[2022-08-29 14:58] #498 closed

[2022-08-29 16:07] Ossur commented on #498
Thank you very much!

There are two issues we've run into:

1. Frontend would like to have the possibility to have the `index.ts` file in a custom location, via options.
2. Date attributes are generated as strings, but should be generated as Date. A fix for that is here:
[code]

[2022-08-30 14:40] AgentEnder commented on #498
@Ossur the choice to have Date / DateTime elements reflected as strings in the generated typescript was purposeful, as that is how the front end apps would receive the data unless you are doing some kind of special parsing. See https://stackoverflow.com/questions/69933406/proper-way-to-pass-date-objects-between-a-javascript-typescript-frontend-and-a-a

One company that I worked at patched JSON.par

[2022-08-31 06:30] sanddigital commented on #489
I'm experiencing this very same issue as noted in this thread. The only thing I can see that gets the builds to work is to use `"noDependencies": false`.

**nx.json** has this
`
"targetDefaults": {
    "build": {
      "dependsOn": [
        "^build"
      ]
    }
  }
  `

 **This are my local tools/package versions...**
![image](https://user-images.githubusercontent.com/1873105/187608264-8ee8198d

[2022-08-31 07:18] sanddigital commented on #489
As is usually the way with this, I persisted some more and got it working using `"noDependencies": true` 😃

I believe the issue I was facing was to do with some dotnet projects that had multi-framework targets defined. I was also using a static `options{ : output: "/some/output/path"}` on the build target. On each build of the target framework the static destination output was cleared on each targ

[2022-09-01 08:33] paul-hammant opened #512 "[Feature] pass parameters from config to dotnet.exe params"
**Is your feature request related to a problem? Please describe.**

My native dotnet.exe build needs custom parameters to be able to pass. Nx-dotnet doesn't have a provision for parameters.
These in particular:

[code]

**Describe the solution you'd like**

The ability to use `"options": {}` for specifying of `/p:` prefixed paramters without `--` being prepended before shelling out to dotnet.exe

[2022-09-01 19:37] krokofant commented on #493
@AgentEnder Thanks for the swift fix!

[2022-09-01 19:37] #493 closed

[2022-09-02 12:53] paul-hammant commented on #512
OK the above is all wrong.  There's a use of `/p:` in the testbase already - https://github.com/nx-dotnet/nx-dotnet/blob/master/packages/dotnet/src/lib/core/dotnet.client.spec.ts#L61

Where would that be specification in a real nx-dotnet build?  I can't map what I see in the test-code to production-code and configuration it would use.

[2022-09-06 14:45] AgentEnder commented on #512
It looks like that functionality was added to the `publish` executor, but should probably be added to some of the other executors as well

[2022-09-06 15:12] #512 closed

[2022-09-06 16:38] paul-hammant commented on #512
Yay!!  Great work @AgentEnder

[2022-09-07 12:09] paul-hammant opened #521 "[Feature] more debugging for one of the error messages"
**Is your feature request related to a problem? Please describe.**

I did an upgrade of nx-dotnet and now encounter a "Unable to find a build-able project within project's source directory" message

**Describe the solution you'd like**

Source directory that was looked in, added to message of this line please -
https://github.com/nx-dotnet/nx-dotnet/blob/master/packages/utils/src/lib/utility-funct

[2022-09-07 12:35] paul-hammant opened #522 "[Feature] add back notional support for sqlproj"
**Is your feature request related to a problem? Please describe.**

A prior version was able to target .sqlproj projects within a .NET solution. Can we have it back, please?

**Describe the solution you'd like**

Change projPattern() in https://github.com/nx-dotnet/nx-dotnet/blob/master/packages/utils/src/lib/utility-functions/glob.ts t also include .sqlproj

[2022-09-07 12:51] paul-hammant commented on #522
Can confirm with the addition of |sql of this feature suggestion, #512 is fixed for us.

[2022-09-07 15:02] AgentEnder commented on #522
Interesting that .sqlproj worked for you in the past, what do your targets look like for those projects? #19 has been a long standing issue that references better support for them, but I didn't think we had previously supported them in any real way.

Nonetheless, I'll cut a release with that updated pattern.

[2022-09-07 15:04] #522 closed

[2022-09-07 15:08] #521 closed

[2022-09-07 15:57] paul-hammant commented on #522
Super responsive - thanks a bunch.

To your question - we have to add a bunch of /p: param to the dotnet.exe invocation.   Was all a PITA to setup - but the complexity was on the SSDT SDK additions that need to be overlaid on a .NET SDK install. The Nx side was easy by comparison.

[2022-09-28 01:06] stumey opened #531 "[BUG] restore and sync generators fail with imported dotnet projects"
**Describe the bug**
@AgentEnder to preface this, the issue is very similar to #465, however the fix identified by OP did not work for me.

pnpm install runs nx g @nx-dotnet/core:restore, which fails to find the 'apps/SixMinAPI/SixMinAPI.csproj' to restore/install dependencies.
![image](https://user-images.githubusercontent.com/2454390/192664039-c808a341-27fe-4fa6-8945-1a619ffe24f1.png)

Passing -

[2022-09-28 01:35] stumey commented on #531
Disregard, apologies for the noise. I defined the "sourceRoot" variable in the wrong nx file. Putting it in the project.json of SixMinAPI instead of the workspace.json fixed the problem.

[2022-09-28 01:35] #531 closed

[2022-09-28 14:12] #469 closed

[2022-09-28 14:12] #470 closed

[2022-10-14 10:38] Wowo10 opened #541 "[BUG] Getting started runs into Cannot read properties of undefined (reading '0')"
**Describe the bug**
While trying to follow Getting started running into unexpected undefined. https://www.nx-dotnet.com/docs/core/

**To Reproduce**

1. Install empty nx project
`npx create-nx-workspace@latest package-based --preset=npm`
2. Install nx-dotnet/core
`npm i --save-dev @nx-dotnet/core`
3. Init nx-dotnet
`npx nx g @nx-dotnet/core:init`
4. Generate your first api
`npx nx g @nx-dotnet/co

[2022-10-14 14:48] AgentEnder commented on #541
Can you provide the output from `dotnet new --list`? We use that output to prompt for available templates and it appears to be failing in your case.

[2022-10-20 12:55] Wowo10 commented on #541
After installing .Net 6 isntead 3.1 it works.

[2022-10-20 14:28] AgentEnder commented on #541
Ideally it should work on 3.1,  but we can close this out if it's working for you now.

[2022-10-20 14:28] #541 closed

[2022-10-20 15:58] jgbright opened #548 "[BUG] Visual Studio cannot open projects due to "Invalid static method invocation syntax" errors"
**Describe the bug**
I get errors when I try to open a dotnet project with Visual Studio 2022 community edition that uses the `Directory.Build.props` and `Directory.Build.props` files generated by nx-dotnet.

**To Reproduce**
Steps to reproduce the behavior:

1. Generate a nx-dotnet app with a sln.
2. Open the sln in Visual Studio 2022 community edition.
3. Observe that the project(s) are not actu

[2022-10-21 08:25] remkoboschker opened #550 "CheckNxModuleBoundaries target fails on project root with a space in it"
**Describe the bug**
building a project with a space in the project root path fails because when a `--project-root` argument is passed to `check-module-boundaries.js` with a space the `process.argv` array has only the first part of the path.  See https://github.com/nx-dotnet/nx-dotnet/blob/master/packages/core/src/tasks/check-module-boundaries.ts#L91

**To Reproduce**
Steps to reproduce the behavi

[2022-10-21 12:23] remkoboschker commented on #550
I made a pr that avoids the issue https://github.com/nx-dotnet/nx-dotnet/pull/551 not sure if it should not be handled in check-modules-boundaries.js as well.

[2022-10-24 07:57] remkoboschker opened #554 "add methods for each end point in swagger-typescript generator"
**Is your feature request related to a problem? Please describe.**
To maximise the utility of open api documentation and avoid the need for looking up the endpoint paths and parameters it would be nice to generate methods that call a specific end point using a particular http method.

**Describe the solution you'd like**
* method for each endpoint / http method
* config for auth
* allow wrapper fo

[2022-10-24 11:14] remkoboschker commented on #548
I am having the same issue in our build pipeline that uses msbuild. Does the commit in your forked repo fix the issue?

[2022-10-24 11:16] remkoboschker commented on #548
It seems to break when run with `dotnet build`

[2022-10-24 15:20] AgentEnder commented on #554
Hey @remkoboschker! Generating clients, methods, or similar is outside the scope of the plugin. If you wish to go further down the codegen side of things, there is an existing Nx plugin that I'd recommend: https://www.npmjs.com/package/@trumbitta/nx-plugin-openapi

Using it, you should be able to just swap out the codegen target for one using its executors. The philosophy behind how we set up code

[2022-10-24 15:20] #554 closed

[2022-10-24 15:40] AgentEnder commented on #489
I'm going to close this one out now, since its been a while without new info but also since it appears folks have figured out a solution path. I'll try to spend some time on this at some point to verify on my side, but this looks good now.

[2022-10-24 15:40] #489 closed

[2022-10-24 15:41] AgentEnder commented on #548
This is interesting! I wonder if there is some versioning issue. @tzuge have you seen something like this crop up?

[2022-10-24 16:43] remkoboschker commented on #554
Great, thank you

[2022-10-24 17:25] tzuge commented on #548
No, I haven't hit this issue. We're building in github actions using the `nx affected:build` command with this plugin, so `dotnet build`. My understanding is that github actions runners have dotnet 6 SDK pre-installed.

I recall there is some weirdness on tool stacks in dotnet. Visual Studio might use its own thing, then msbuild cli is/was part of Windows SDK?, and dotnet cli is in dotnet SDK? I s

[2022-10-24 17:27] AgentEnder commented on #548
Yeah, I imagine it is related to the versioning of one of those pieces.... Is there a way that we could check if the methods are defined before invoking them? I understand that it would get longer, but we could always tuck these variable declarations away in node_modules/@nx-dotnet/core/presets or similar and reference them in the generated files.

[2022-10-24 17:32] tzuge commented on #548
I think perhaps the right approach is to check dotnet cli tool versions in the init generator and fail with helpful message if not in the supported range. i.e. run `dotnet --version`, `dotnet msbuild --version`, etc. Not sure about if Visual Studio requires its own handling though, since the nx commands run on dotnet cli but VS might do its own thing for the csproj loading.

[2022-10-24 17:48] jgbright commented on #548
Keep in mind you can specify what version of the dotnet tool chain to use with a [global.json](https://learn.microsoft.com/en-us/dotnet/core/tools/global-json) file.  I wonder is that’s why I see the problem and others do not.

[2022-10-24 18:00] AgentEnder commented on #548
Yeah, we can definitely define a supported version of the toolchain... I generally tend towards being more open with the .NET SDK version installed, and doing some mapping as required here and there (most notably, the format executor handles a lot of this). Its more work on our side of things, but I tend to find that in the .NET land dev's are not always super up to date on their tooling versions.

[2022-10-24 18:14] jgbright commented on #548
Sure.

[code]

[2022-10-25 08:08] remkoboschker commented on #548
dotnet 6.0.402 works fine, but msbuild version '17.3.1.41501'  does not

[2022-10-25 16:29] AgentEnder commented on #548
That's quite interesting.... I'll do some digging and see if I can narrow down why GetRelativePath isn't present in those versions. I'll see if I can't figure out either minimum defined versions or similar.

[2022-10-25 16:40] tzuge commented on #548
This one might be relevant: https://github.com/dotnet/sdk/issues/1967

I get the impression that there might be a few scenarios in which msbuild cannot resolve the system assemblies leading to this error. I believe it would help to know:

1. Which tools work and which ones don't? `dotnet`, `msbuild`, VS project loading
2. Are there multiple `msbuild` installations in the environment.
3. How does `

[2022-10-31 11:13] EelcoLos opened #559 "[BUG] Output folder doubled"
**Describe the bug**
Running `npx nx run-many --target=build --parallel=true --projects=api,client --configuration=production` will result in a doubled output folder of nx-dotnet's api client versus angular clients output folder.
So now, i have a `/src/apps/api/dist/apps/api` folder. This is easily mitigated. However, it is different regarding other nx packages

**To Reproduce**
Steps to reproduce

[2022-10-31 14:16] AgentEnder commented on #559
We don't specify output in project.json or workspace.json by default due to some interesting quirks of dotnet cli. The recommendation on our side is that you configure output paths via the .csproj file itself, and specify the same path in the outputs array, rather than referencing a parameter.

Some of the reasoning behind that is here: https://www.nx-dotnet.com/docs/core/guides/incremental-builds

[2022-11-03 14:30] AgentEnder commented on #67
I'm pretty sure this was fixed when we swapped to using spawn + param array over exec, I'm going to close it out.

[2022-11-03 14:30] #67 closed

[2022-11-03 14:36] AgentEnder commented on #477
I'm going to go ahead and close this out, I don't think its something that we will get to. Determining tests affected by C# changes is a hard problem, and outside of the scope of this plugin. If there is a tool that accomplishes that, which we may integrate, I can revisit this.

For the most part, you can think of nx-dotnet as glue, or an integration piece, between the `nx` CLI and the `dotnet` cl

[2022-11-03 14:36] #477 closed

[2022-11-03 14:37] AgentEnder commented on #465
This was fixed by #543

[2022-11-08 18:24] AgentEnder opened #562 "[Feature] Use Directory.Packages.Props for single version principle instead of .nx-dotnetrc.json"
**Is your feature request related to a problem? Please describe.**
Currently, we use a field in .nx-dotnetrc.json for single version principle. There are some benefits to this:
- We control the file, its json, its easier to read / update than an xml file.
- Since its custom, .NET SDK version doesn't matter.

However, its non-standard. `dotnet` doesn't know about this file, and we have to track pac

[2022-11-08 18:24] AgentEnder commented on #562
@tzuge do you have any thoughts on this one? I think it could simplify things quite nicely.

[2022-11-08 22:25] tzuge commented on #562
I agree it would be nice to let the dotnet tool stack handle this behaviour. I'm curious about how it will work with the dotnet cli. If nx-dotnet still has to do special handling (e.g. xml manipulation in the props file), then that seems not as beneficial.

[2022-11-08 23:47] AgentEnder commented on #562
At the end of the day, we will still have to do **_some_** manipulation in the props file most likely. I think itd still be worth it since it would move the manipulation outside of the .csproj, which is more likely to have some weird custom stuff

[2022-11-09 10:34] JayArrowz commented on #398
@AgentEnder hi is there any updates on this pls?

[2022-11-09 18:02] devklick commented on #490
@AgentEnder Did this change ever get released? I see the PR was merged, however I've ran into the same issue again today when starting a new workspace.

The nx-dotnet version I'm using is the latest, `1.16.0`.  Again, manually installing `@nrwl/js` fixed the problem, but just wanted to feed this back as it seems like your PR linked above was meant to automatically install this dependency.

<detail

[2022-11-10 12:04] pedrolamas commented on #548
Just replace `[System.IO.Path]::GetRelativePath` with `[MSBuild]::MakeRelative`, problem solved!

[2022-11-10 12:20] EelcoLos commented on #548
You sir just made my day... just stumbling on your reply when I needed it </salute>

[2022-11-10 12:52] DerStimmler opened #564 "[BUG] CheckModuleBoundaries fails when using 'notDependOnLibsWithTags' configuration"
**Describe the bug**
Currently it seems that the `notDependOnLibsWithTags` configuration for the enforce-module-boundaries eslint rule doesn't work with nx-dotnet.

This feature was added in this PR https://github.com/nrwl/nx/pull/8633.

**To Reproduce**
Add the `notDependOnLibsWithTags` to the enforce-module-boundaries eslint rules. Add the corresponding tags to the `project.json` of your dotnet

[2022-11-11 00:09] AgentEnder commented on #490
Interesting! I may have missed something on this one. I'll reopen it, its possible the tests pull from the parent repo's module as a fallback during module resolution.

[2022-11-11 14:18] dstoyanoff opened #566 "[BUG] .NET lint executed without such target"
**Describe the bug**
Hello,
I have a strange problem with a nx workspace with both frontend apps and .NET apps. Previously, I used to have a lint target for all that would use eslint for the frontend projects and format for the .NET apps. I have not deleted the lint target from the project.json files for all projects, but running lint still executes dotnet format and I can't understand why. Removi

[2022-11-11 14:51] AgentEnder commented on #566
There's a flag in .nxdotnetrc.json to disable the inference behavior... Here: https://github.com/nx-dotnet/nx-dotnet/blob/master/packages/utils/src/lib/models/nx-dotnet-config.interface.ts#L25

[2022-11-11 14:51] #566 closed

[2022-11-11 14:52] #548 closed

[2022-11-11 16:35] jgbright commented on #548
If I had known you guys were so receptive to pull requests, I would have just submitted the change I made myself.  Thanks for submitting it for me @pedrolamas.

[2022-11-11 16:48] AgentEnder commented on #548
There's a leftover issue on windows caught by our smoke tests, but its unrelated to **_this_** PR. Pushing a fix now.

@jgbright I try to be receptive to PRs in particular, as I don't have a ton of time to spend working on the plugin, unfortunately, and any contributions help immensely. In this particular case, I didn't ask for a PR at first as I prefer the `System.IO.Path` implementation, but I h

[2022-11-11 17:11] pedrolamas commented on #548
Thanks @jgbright, but being honest, I only now noticed you mentioned it in your original issue as a possible solution! 😁

This is a trick I've used some times in the past when I was still doing Windows Development (though I can't say I miss those days that much, tbh!)

[2022-11-24 11:05] janzwanenburg opened #570 "Moving from deprecated workspace.json to project.json does not work (?)"
**Describe the bug**
I have created a sample nx-dotnet workspace with 3 .NET projects, which works fine.
(Based on the Nx dotnet After Dark tutorial video.)
This includes a workspace.json file. I have seen the workspace.json approach is deprecated, see
https://nx.dev/deprecated/workspace-json.
I wanted to move to a project.json approach, so I followed the instructions to do so, but the result does

[2022-11-24 16:12] AgentEnder commented on #570
That should be a supported workflow. You can see in this repo a working example, of you look at the configuration.

Can you run the command with NX_VERBOSE_LOGGING=true and NX_DAEMON=false? That should provide a better stack trace.

Also, what's nx report say?

[2022-11-25 14:50] janzwanenburg commented on #570
Thanks @AgentEnder.
It's good to know that this workflow is supported, since we want to use it for a monorepo with ~600 csproj projects.
Having all configured centrally would be very awkward.

I have set the flags as suggested. That gives the following response:
[code]

Probably it is something silly from my end, but I find it hard to get a lead from this stack trace.

[2022-11-25 16:14] AgentEnder commented on #570
Thanks. What's nx report output? Also, you may be able to add some logs around the lines in the stack trace to figure out which project is giving issues.

[2022-11-25 17:29] bcallaghan-et commented on #570
@janzwanenburg Are any of your .NET projects using .NET Framework, as opposed to .NET Core or .NET 5+? In my own experience, the project.json style of configuration works with .NET Core and .NET 5+, but it does not work with .NET Framework. There was a brief time in .NET's own history that it used project.json files, instead of the standard .csproj files. I've found that if a traditional .NET Fram

[2022-11-28 13:12] janzwanenburg commented on #570
@bcallaghan-et , Thanks for hitting the nail on the head!

Yes, one of my .NET projects was using the .NET Framework. Deleting that project works around the issue.
For my sample workspace, I can successfully run Nx with the project.json files for .NET Core / .NET 5+.

However, for our proper production repo, we have ~300 .NET Framework projects, so this is a bit of a bummer.
It will probably take

[2022-11-28 17:13] bcallaghan-et commented on #570
@janzwanenburg My general suggestion would be to upgrade those projects to .NET 6, but I recognize that will take significant time and effort. Another possibility (which I haven't tested myself) is to convert the .NET Framework projects to SDK-style projects, while still targeting .NET Framework. The CLI should then favor the .csproj and ignore the project.json file.

[2022-11-29 15:43] janzwanenburg commented on #570
Update from my side.
I found two possible solutions:
* Convert csproj to sdk style (this is possible while keeping .NET Framework as target)
* Add MyProjectName.project.json file next to the csproj file. MSBuild will prefer this file over the project.json meant for nx, so the name clash is avoided. Sample contents of this new file for MsBuild that works in our setup:
[code]
For me the issue and re

[2022-11-29 15:43] #570 closed